[2015-11-26 09:33] dvcrn opened #1 "Find a better name"
Proton is like the first thing everyone thinks of when they try to name a atom extension. Need something more creative :)

[2015-11-27 13:06] raguay opened #2 "Error loading"
Hi,

I am getting this error when atom starts:

TypeError: Cannot read property 'addBottomPanel' of null
    at Object.<anonymous> (/Users/raguay/Documents/proton/plugin/lib/proton.js:1806:80)
    at Module._compile (module.js:428:26)
    at Object.defineProperty.value [as .js] (/Applications/Atom.app/Contents/Resources/app.asar/src/compile-cache.js:169:21)
    at Module.load (module.js:353:32)

[2015-11-27 15:29] dvcrn commented on #2
Hi,

Can you try typing `atom.workspace` inside the dev tools and see what you get back?

Also can I ask how you found this project? Stars jumped from 1 to 18 in a few hours and I'm a bit confused how :p

[2015-11-27 22:38] eggcaker commented on #1
Like spaceatom or may be  spatom

[2015-11-28 01:29] nosami commented on #1
spacebar-mode

[2015-11-28 02:37] raguay commented on #2
Hi,

The jump in numbers was due to a tweet on twitter about this project. I was able to get it working by updating Atom. I did not realize that my Atom was behind in an update. But, a sample .proton file would be nice as I am not sure what should go in it. How close to my .spacemacs file would it be? I assume quit a bit different.

[2015-11-28 08:13] dvcrn commented on #2
The current .proton file looks like this: https://github.com/dvcrn/proton/blob/master/templates/proton.edn the layout is not frozen yet so if you have a cool idea definitely let me know!

The idea is also that we create this file for the user if he doesn't have one but I couldn't find time to do that yet.

[2015-11-28 08:25] raguay commented on #2
Okay. Thanks. I will be looking at this.

Richard

On Sat, Nov 28, 2015 at 3:13 PM, David Mohl <notifications@github.com>
wrote:

[2015-11-30 07:02] dvcrn commented on #1
I like spacebar-mode but it's a bit too long. Maybe space-mode could do

[2015-12-01 09:50] #2 closed

[2015-12-01 09:58] dvcrn opened #4 "Allow users to specify custom keybinding callbacks inside .proton"
`:keybindings` inside .proton is currently unused.

Before tackling this, we should check if we can somehow call a `:fx` callback from there. This might be a bit tricky because edn != clojure.

Needs further investigation

[2015-12-01 09:59] dvcrn opened #5 "Create template on first start if not existent"
We should copy the default template to ~/.proton if the user doesn't have it yet.

Maybe specify a `opt-in` before proton activates in case he just installed it randomly so we don't wipe his entire settings by accident.

[2015-12-01 10:05] dvcrn opened #6 "Add READMEs for layers"
Spacemacs style :) https://github.com/syl20bnr/spacemacs/tree/master/layers/%2Blang/html

[2015-12-01 10:06] dvcrn opened #7 "Submit to atom packages"
We might need a new name first since proton is already taken. Plus we need to check how we can submit a compiled version.

[2015-12-01 10:20] geksilla commented on #7
We need to move *package.json* from *plugin* folder to root and edit **"main"** script location. To recompile plugin before publish we can use **"prebuplish"** hook script added to *package.json* here is some [info](https://docs.npmjs.com/misc/scripts#common-uses) regarding npm scripts hooks.

[2015-12-01 12:59] dvcrn commented on #7
I was thinking about something simpler:

We just compile proton and push the plugin folder into a new "proton-binary" repository. That's what we are going to submit.

I think pushing this repository to atom won't work because it would require us to either compile on the spot (which won't work because the majority of users don't have lein installed) or submit compiled files together with the uncomp

[2015-12-01 16:01] spencerlyon2 commented on #1
positron

[2015-12-01 16:12] geksilla commented on #7
@dvcrn I think that **prebuplish** hook is running locally so we can execute ```lein cljsbuild once dev```. After that source code with compiled version will be published.

[2015-12-02 01:05] dvcrn commented on #7
Oh now I get it. I somehow read that as 'pre-commit', my bad! That could indeed work!

But now we still need a better name. Proton sadly exists already https://atom.io/packages/proton

[2015-12-02 02:30] dvcrn opened #9 "Add syntax aware keybindings"
One of the really cool things about spacemacs is that some keybindings (in their case `<spc> m` or `,`) change according to what the current syntax is like.

`<spc> m =` in python executes yapf while in js executes js-beautify.

We should think about porting this to proton as well

[2015-12-03 03:15] dvcrn commented on #7
All right, I tried this approach and it sadly does not work.

[code]

It seems like apm just links the repository and does a fresh checkout. I think we need to go with the binary approach

[2015-12-03 03:48] dvcrn commented on #7
Binary approach worked :) We are live at https://atom.io/packages/proton-mode. Bin repo is https://github.com/dvcrn/proton-bin

I went with `proton-mode` since proton was already taken and we don't have anything better yet. apm allows easy package renaming though so changing it later on shouldn't be a problem

[2015-12-04 05:14] #7 closed

[2015-12-04 05:30] #6 closed

[2015-12-05 13:47] tshort opened #11 "GPL license"
Why did you choose the GPL3 license? Most of the Atom ecosystem is MIT, so this choice limits sharing options. As an example, I'll avoid looking at your code for fear of "tainting" other packages.

[2015-12-05 17:50] 7sharp9 opened #12 "File not found issue on first install"
On a fresh atom if I execute `apm install proton-mode` and then launch atom, I get the following error:

[code]

[2015-12-05 17:53] 7sharp9 commented on #12
If I do `touch ~/.proton` before running then everything seems to install ok.

[2015-12-06 02:05] dvcrn commented on #12
Yeah fixing this is still on the list - https://github.com/dvcrn/proton/issues/5
This is how the file is supposed to look like - https://github.com/dvcrn/proton/blob/master/templates/proton.edn

[2015-12-07 03:22] dvcrn commented on #11
MIT was the other option. I decided for GPL because I want to see proton to become a community managed open platform for atom. If someone makes an advancement, I want to see that get merged back at some point. The thing that I want to avoid is integration into closed source re-distributions (compiled js for example).

Parts that are meant to integrate with other plugins (later on) will definitely

[2015-12-07 05:49] #5 closed

[2015-12-07 05:49] #12 closed

[2015-12-07 11:48] geksilla opened #13 "Question, figwheel worklfow?"
Hi @dvcrn, do you use figwheel during development? I've succeed on figwheel activation and got hot code reload and another nice features, but it's a bit hacky. Could you please share your dev workflow with figwheel? Thanks.

[2015-12-07 12:13] tshort commented on #11
Many companies stay away from GPL code because of the infectious nature of the license. This is especially true of JavaScript code because that often becomes distributed such that it would violate the GPL (it's compressed). Companies don't want to inadvertently violate someone's license by distributing "tainted" code. With MIT code (or similar), it's easier to maintain license compliance.

[2015-12-07 12:50] geksilla commented on #13
[Here is](https://github.com/geksilla/proton/tree/feature/fighweel-dev-server/dev_server) how I achieved it.

[2015-12-07 16:26] spencerlyon2 opened #16 "Setting "core" options in `~/.atom/config.cson`"
I'm trying to apply the theme/syntax highlighting I had in my atom config from within proton and am having problems.

I've added the proper packages to the `:additional-packages` section and in `:configuration` I have included

[code]

When I launch a new atom (proton) window the console tells me

[code]

But then when I do `cat ~/.atom/config.cson` I see `core: {}`

Is there supposed to be anothe

[2015-12-08 01:45] dvcrn commented on #16
Hrrm this indeed doesn't work. I think it might be that the value is a vector / array which I didn't think was possible.

I'll see if I can submit a hotfix for this

[2015-12-08 02:57] dvcrn commented on #13
I'm currently not using figwheel but it definitely looks interesting. I didn't know code reload was possible inside atom.

I'm experimenting over at the [shadow-build branch](https://github.com/dvcrn/proton/tree/shadow-build) with a new build tool that could get rid of some of the cljsbuild flaws. Maybe @thheller can give some insights if hot reload is possible

[2015-12-08 06:53] #16 closed

[2015-12-08 06:54] dvcrn commented on #16
Ok, vectors are now being parsed correctly as javascript arrays. Tested it with a few themes and seems to work. Let me know if you still have problems

[2015-12-08 07:33] geksilla commented on #13
I recently updated [how-to](https://github.com/geksilla/proton/tree/feature/fighweel-dev-server/dev_server) for Mac OS. I've tested it on Linux also and it works for me. If you are interesting try the [dev-server branch](https://github.com/geksilla/proton/tree/feature/fighweel-dev-server)

[2015-12-08 09:13] dvcrn opened #20 "Split proton into smaller standalone packages"
This was an idea from a discussion on discuss.atom.io.

Proton has a few things that could stand on it's own for people that don't want to use everything at the same time.

- __dotfile loader__: This would probably the easiest part, a package that just loads a specific file (maybe `~/.atom` by default), loads it and puts it into the `atom` object. (edn? cson? json?)
- __dotfile mode__: Leverages a

[2015-12-08 10:55] thheller commented on #13
When I run `lein figwheel dev-server` I get

```clojure.lang.Compiler$CompilerException: java.io.FileNotFoundException: Could not locate cljs/analyzer__init.class or cljs/analyzer.clj on classpath: , compiling:(figwheel_sidecar/utils.clj:1:1)```

How do I get that running?

[2015-12-08 11:03] thheller commented on #13
Nevermind, upgrading `lein` fixed that.

[2015-12-08 11:48] thheller commented on #13
@geksilla got it working, although live-reloading doesn't really work. figwheel reloads the file but breaks things in the process. (eg. `spc` menu is empty after reloading `proton.lib.atom`).

I sort of expected that, or am I just doing something wrong and this works for you?

[2015-12-08 13:14] spencerlyon2 commented on #20
To me this seems like extra work, both to do the splitting and to maintain 3 or 4 packages in lockstep.

Do you anticipate other packages using the components? If so, it might be worthwhile. If not, I would personally keep them as they are.

[2015-12-08 13:14] spencerlyon2 commented on #9
This is definitely something we should do -- one of the best features of spacemacs for those who work with many languages.

[2015-12-08 14:57] geksilla commented on #13
@thheller, yes I also hit this problem. But when I defined [these two atoms](https://github.com/dvcrn/proton/blob/master/src/proton/core.cljs#L40-L41) with **defonce** macro and reload editor it works fine. Sometimes live-reload breaks app states but in general it works pretty well.

[2015-12-08 15:13] spencerlyon2 commented on #16
Fixed, thanks!

[2015-12-08 16:10] spencerlyon2 opened #21 "Allow extension (merging) of keybidings"
We should allow layers to extend keybindings defined in core or other layers.

Here's an example layer that could utilize this:

[code]

What I am going for here is to add another category under the `t` chain defined in core so that I can toggle my pomodoro timer. So what I'd like to see is that `SPC t` has all the existing options, but now has one more option for `pomodoro` that will drop me one

[2015-12-09 00:15] dvcrn commented on #21
Hi,
[code]

here you are just overwriting the `:t` key: `:t {:category "toggles"}` (the `:t` map is closed). I think you have a little bracket misplacement.

Nevertheless, code in question is [here](https://github.com/dvcrn/proton/blob/master/src/proton/lib/proton.cljs#L29-L30). Looks like I misunderstood what `merge` does. Need to apply a recursive merge here that goes into sub-maps

[2015-12-09 01:28] dvcrn commented on #13
Since proton is mainly stateless (the state is getting overriden on each editor start), can't we just do something like:

[code]

This would force reload proton from disk with all changes

[2015-12-09 02:10] dvcrn commented on #13
Hm. Doesn't seem to work, atom doesn't actually reload file changes. Ok then maybe we really need to live eval code

[2015-12-09 06:00] dvcrn commented on #21
Found some deep-merge implementations and added them as helpers [here](https://github.com/dvcrn/proton/commit/99e31aaae639fa4e894d9d824b5d3af827a02164). Didn't have time yet to check deep-merging of keybindings

[2015-12-09 06:39] dvcrn opened #22 "Change way layers are configured"
Right now we do something like this:

[code]

To set config we do
[code]

Maybe we should think about going the spacemacs way and doing something like
[code]

[2015-12-09 06:48] dvcrn opened #23 "Better default experience"
When I think about proton, I'm more thinking about a complete package: Something that you install that makes your editor instantly better while getting rid of annoying things. Similar to nuclide.

We should go over all settings atom provides and check which ones are useful by default and which ones don't make sense. Plus maybe adding toggles for them inside the `core` layer.

I think including the

[2015-12-09 13:40] spencerlyon2 commented on #23
I definitely agree with providing a better default experience. I know a number of people who don't want to use atom simply because it takes to long to go from stock atom to something they like and feel is usable.

One thing I think the spacemacs team got right was that they set a number of config values for you to give a pretty opinionated emacs dist, but most (all?) of these default config values

[2015-12-09 13:46] spencerlyon2 commented on #22
So I think you are on the right track here, but weren't able to come up with the right example because we don't currently support config options per layer. (The two configs you set here were actually no specific to the python layer -- they were at the proton level itself)

I don't think we actually have any config options for any of our existing layers. The way spacemacs does it is they conditiona

[2015-12-10 01:24] dvcrn commented on #13
Ok thanks to the amazing work by @thheller, the `shadow-build` branch now has full support for hot live-reload!

I will try to get this merged by today but no more window reloading!

[2015-12-10 01:56] #13 closed

[2015-12-10 02:16] spencerlyon2 commented on #21
So the deep merge seems to work.

How could I extend the `:t` map (i.e. what did you mean by "it is closed")?

[2015-12-10 02:19] dvcrn commented on #21
I mean, you want `:p` inside `:t`, don't you? So `:t` should be a element of the map thats assigned to `:p`.

In your example you define 2 root keys: `:t` and `:p`.
[code]

should be
[code]

now `:t` is inside `:p` and the chain would be `p -> t -> s` for pomodoro start

[2015-12-10 02:55] spencerlyon2 commented on #21
:facepalm: oh man that was a dumb mistake. Parifiner is cool, but I'm going to have to get used to it adding brackets in places.

Anyway, this is closed by #28

[2015-12-10 03:29] dvcrn commented on #21
Haha that's what I thought :)

You technically never really have to touch your brackets with Parinfer. Just indent it so the `:p` aligns with `:category` and it will change the brackets for you.

[2015-12-10 09:18] dvcrn commented on #11
How so? Minifying or compressing code is not violating GPL. If you want to use GPL-ed code inside your project, you have to open source it. It's enough here if you can provide the source on request though.

If you are worried about distributions of the binary or want to depend on it, we could think about LGPL but inclusion in closed source stuff is exactly why GPL was picked in the first place.

[2015-12-10 09:18] #11 closed

[2015-12-10 09:47] dvcrn opened #33 "CTRL-J/K broken"
Not sure how that happened but I can't manage to navigate with these anymore

[2015-12-11 03:04] #33 closed

[2015-12-11 03:14] dvcrn opened #34 "New packages are not being activated right away"

[2015-12-11 03:15] #34 closed

[2015-12-11 11:32] osdf commented on #23
So, I'm very excited about this, being a long-term vim (and now spacemacs) user. I really want to like atom/proton-mode, but after installing everything and starting up, shouldn't the space key be the central UI element? Hitting it after start-up does nothing, though. Maybe I'm doing something wrong? Btw, is there a gitter (or slack?) channel for proton-mode?

[2015-12-11 14:35] dvcrn commented on #23
@osdf We have a #proton channel on the clojurians slack but right now there are only 3 people in there.

Currently the space key works when you are in normal mode in your text editor.
To debug why it doesn't work, do you get the proton prompt after installation? Which version do you have installed? Can you open the dev tools and check for any errors?

[2015-12-11 19:29] quartz55 opened #36 "Atomatigit for git integration"
I recently discovered this project through a Spacemacs tweet and I have to say it looks very promising. I'm an Emacs (and Vim) fanatic but I would also like to move into more modern software, specially for a text editor, so I'll see what I can do to help out with this project.

Anyways, after looking through Atom packages I found [atomatigit](https://github.com/diiq/atomatigit) which seems to be a

[2015-12-12 06:50] dvcrn commented on #36
Looked at that one too but I decided to go with the most popular git plugin instead.
Definitely something worth evaluating and seeing if it performs better. Right now I don't like git-plus at all.

[2015-12-12 06:50] #21 closed

[2015-12-12 14:43] dvcrn opened #37 "Integrate vim-mode-plus"

[2015-12-12 15:49] spencerlyon2 opened #38 "Allow setting settings by syntax"
In my config I have things like:

[code]

If I try to add something like `[".julia.source.editor.tabLength" 2]` in my `~/.proton` I get

[code]

I think we just need to special case a leading `.` in the config string when parsing configs

[2015-12-12 15:51] spencerlyon2 commented on #38
Although it is a bit tricky as we will need to think about where to start applying normal behavior to `.`

I _think_ that we will always see syntax specific settings of the form `.(text|source).scopename.SETTINGS`

[2015-12-13 05:04] dvcrn commented on #38
So what proton currently does is, it just takes the config string (`".latex.tex.text") and passes that straight into the atom API for setting a setting.

Yeah we should definitely try to collect all the settings for the user and push it into an array in these cases or something like that

[2015-12-14 01:58] dvcrn opened #40 "Allow <space> in non-editor windows"
Definitely a must.

https://github.com/dvcrn/proton/issues/23

[2015-12-14 02:42] #37 closed

[2015-12-14 03:05] #9 closed

[2015-12-14 06:56] dvcrn opened #43 "Remove 1 vim-mode"
Either vim-mode or vim-mode-plus.

[2015-12-14 07:29] dvcrn commented on #43
https://github.com/t9md/atom-vim-mode-plus/issues/61

[2015-12-14 11:10] #43 closed

[2015-12-15 01:50] dvcrn commented on #36
`<spc> g s` is now bound to atomatigit

[2015-12-15 01:50] #36 closed

[2015-12-15 10:52] geksilla opened #49 "Add default terminal package."
I thinks we can add some terminal package to core layer and bind it to <kbd>SPC `</kbd>. I found few interesting packages:

https://atom.io/packages/terminal-panel
https://atom.io/packages/atom-terminal-panel
https://atom.io/packages/terminal-plus
https://atom.io/packages/term2
https://atom.io/packages/term3

I've tried all of them. And for now my choice is terminal-plus.

Feel free to propose ano

[2015-12-15 10:56] dvcrn commented on #49
Hey! I agree that a terminal is probably nice to have. But I think it might be better in a separate `:term` or `:terminal` layer.

I'm gonna check these out tomorrow :)

[2015-12-15 11:21] geksilla opened #50 "Add linters layer."
Propose to add linters support within `:tools/linters` or `:tools/error-check`.

[2015-12-15 12:36] geksilla commented on #49
Agree with separate layer. May be `:tools/terminal`?

[2015-12-15 14:42] dvcrn commented on #50
I think linter could / should go into core

[2015-12-15 14:43] spencerlyon2 commented on #50
Agreed.

I have the start of rust and go layers and they would both rely on linter. It seems odd to include the linter package in those layers as well as its own dedicated layer.

[2015-12-15 14:48] dvcrn commented on #50
On second thought, maybe including linting should be part of each lang layer. Core could implement a linter framework (if one exists) and the layers just plug into that. I think spacemacs is doing that with flycheck

[2015-12-15 15:01] spencerlyon2 commented on #50
I'm pretty sure the linter package is the framework and then linters for specific languages hook into it. See the readme: https://atom.io/packages/linter

[2015-12-15 15:02] dvcrn commented on #50
If that is the case then we should definitely put that into core and have linter support be part of the layers. I think that makes the most sense

[2015-12-15 15:03] spencerlyon2 commented on #50
Great, it should require zero config, just a matter of adding `:linter` to the list of core packages and then maybe adding some toggles for turning it on and off

[2015-12-15 15:15] geksilla commented on #50
Agree, linter package is required for atom. I notice about separate layer because we can setup separate Readme, configurations and other stuff. For each :lang layer we can put required linter package and related configuration, and enable linter if user selected this layer in __.proton__.

For example https://atom.io/packages/linter-clojure can be included in packages for `:lang/clojure` with appro

[2015-12-15 15:18] syl20bnr commented on #50
Here how it works in Spacemacs (I'm interested in knowing the differences with the Atom ecosystem) :

The layer `syntax-checking` is the owner of the package `flycheck` which is a framework which has support for a bunch of languages and allows to add new one easily. The `syntax-checker` layer "declare" its ownership over flycheck by defining the `init-flycheck` function.

A language layer then dec

[2015-12-17 01:44] dvcrn commented on #50
Oh hi @syl20bnr! Great to see you here! :smile: Thanks for the insights.

The way I understand it is that `Linter` (which is 'our' flycheck) does the same thing: Just providing a framework for sub-linters to hook in. It seems like Linter is collecting all installed Linters anyway on start so we wouldn't need a post-init hook. Atom is also lazy loaded so until we open a clojure file (in the case of

[2015-12-17 01:51] dvcrn opened #55 "Speed up package installations"
Maybe something like this:
1. Take package list
2. If under 5, install all in parallel
3. If over 5, take 5, install parallel and repeat

Right now it installs sequentially. I tried the all parallel approach before but that didn't end so well.

[2015-12-17 01:52] spencerlyon2 commented on #55
Would there be potential issues with co-dependencies (e.g. trying to grab linter-pep8, linter-clojure, and linter all at the same time)?

[2015-12-17 01:55] dvcrn commented on #55
Hmm I don't think so. We just need to make sure that packages don't install other packages and all package management is done through proton.

Might be tricky but maybe we can stub `package-deps` out and replace it with a dummy module that does nothing.

[2015-12-17 06:49] syl20bnr commented on #50
In Spacemacs those linter addons are guarded with a `(when (configuration-layer/package-usedp 'flycheck) ...)`. Since the `flycheck` package is treated as `used` if and only if there is an `init-flycheck` defined, using or not using the layer that defines (owns) this `init-flycheck` acts as a toggle for all the addons.

You'll surely need it at one point, `pre-init` is rarely used though but it do

[2015-12-17 06:56] t9md commented on #1
space-ship

[2015-12-17 07:39] dvcrn commented on #1
atom-spaceship is also pretty cool

[2015-12-17 08:52] dvcrn commented on #50
I thought a little bit more about this. So the current problem is:

1. proton initialises all layers
2. once all packages are collected, proton proceeds with installing
3. when `linter-clojure` (or friends) are installed, they force install `linter`
4. on next start, if `:tools/linter` is not enabled, it will remove `linter` and install it again

Here are some ideas:

__1.__
We might really need a

[2015-12-17 15:26] geksilla commented on #50
I like the first idea. For now not sure how we can use `mode`. I was experimenting with multimethods and `post-init` hook. @dvcrn you can check this one [experimental branch](https://github.com/geksilla/proton/tree/experiment/post-init-and-goodies).
 I've found that we can avoid boilerplate code using `get-method` and check if we have `defmethod` for associated dispatch value.
I wrote [this](https

[2015-12-18 00:26] dvcrn commented on #50
Wow I didn't know you were already this far. I will cherry-pick some of the changes into the branch I'm currently working on and see if I can get this merged today :+1:

[2015-12-18 03:21] dvcrn commented on #50
Just to repeat what I already wrote in https://github.com/dvcrn/proton/pull/56 (so we have it in 1 place):

The problem with this approach is that clojure will just assign the multimethod to the latest defined one so we can't go with that.

I introduced a new function called `register-{{layer/package}}-dependencies`:
[code]

It's a little bit more of state management but it basically collects all

[2015-12-18 06:07] syl20bnr commented on #50
Not sure it will help but here is in more details how Spacemacs loads:

1) Collect data
  - load _used_ layer files defining the functions they contain, this is done in the order of the used layer list in the user dotfile (so a user can put its own layer at the end of the list and take ownership of any package by defining an init function for them)
  - build a list of package objects which corresp

[2015-12-18 07:12] spencerlyon2 opened #61 "Can't set theme other than what is in default config from layers/core/core.cjls"

[2015-12-18 07:53] spencerlyon2 opened #65 "Implement better pane management system"
The options for pane management in atom (especially the default ones) are less than stellar.

A great feature from spacemacs is the numbered panes that allow you to easily navigate between open files with `spc #` where `#` is the pane number.

Something like this in proton would be _amazing_!

[2015-12-18 20:27] dtreiter commented on #1
I think something which implies a relation to spacemacs, like `space-atom`, would help with gaining traction. A name like this gives a quick impression of what proton seeks to do to anyone who has heard of spacemacs. It also makes it more likely that someone familiar with spacemacs might find it from some quick searching.

[2015-12-18 20:39] dtreiter opened #67 "Consistency with Spacemacs' evil-leader bindings?"
What are thoughts on keeping the keybindings close to what spacemacs has already done? It seems possible that someone may want to occasionally switch between using proton and spacemacs. Keeping the keybindings similar could keep the transition smoother.

That being said, not all of spacemac's bindings are necessarily ideal either.

[2015-12-19 09:49] #61 closed

[2015-12-19 14:53] dvcrn commented on #67
We are trying to keep things similar but right now focus more on implementing new things. Though I agree that we should get some more strategy into the keybindings

[2015-12-19 14:54] dvcrn commented on #65
Definitely possible but I couldn't find a plugin for this yet.
We could use the atom API to find all panes (and map the side bar to 0), check if the panel with index # exists and then focus it. Shouldn't be too difficult :)

[2015-12-19 14:55] dvcrn opened #69 "SPC + Tab not always switching to last tab"

[2015-12-19 14:56] spencerlyon2 commented on #65
Yeah I've searched for plug-ins many times and tried all of what's out there. Nothing is as good (for me) as spacemacs

If implementing this on our own isn't too hard,  I'd love to see it.

[2015-12-19 14:57] dvcrn commented on #65
Seems like [this](https://atom.io/docs/api/v1.3.2/Workspace#instance-getPaneItems) is what we want

[2015-12-21 08:06] scloudyy commented on #1
I think *spaceatom* is good, the combination of spaceemacs and atom , every one who like spacemacs and also want to try atom will like this.

[2015-12-21 20:29] ticviking opened #70 "Proton Throws on installation"
The existence of proton convinced me to give Atom a try, I just downloaded the latest atom, and tried to install proton. I receive the following error report any time I try to start atom. It looks to me like some part of proton's config process is failing, but I'm not sure where to start debugging.

**Atom Version**: 1.3.2
**System**: Microsoft Windows 10 Enterprise
**Thrown From**: [proton-mode](

[2015-12-22 10:20] geksilla commented on #70
Seems like proton can't create `.proton` because of permissions. Quick workaround is you can create it by your own in `~/.proton` for linux or in your `C:\Users\USER_NAME\.proton` folder and copy paste content from [default template](https://raw.githubusercontent.com/dvcrn/proton/master/plugin/templates/proton.edn).

[2015-12-22 10:58] #70 closed

[2015-12-22 22:07] spencerlyon2 opened #73 "`SPC esc` will quit proton-chain, but moves cursor forward"
I'm using `vim-mode` and when I press SPC to enter the chain I see that `vim-mode:move-right` is being called as the chain starts.

Should we just un-map this?

[2015-12-23 08:39] dvcrn commented on #73
Yep, un-mapping sounds good!

[2015-12-23 09:35] geksilla commented on #73
:+1: to un-map, same issue with vim-mode-plus.

[2015-12-23 11:17] dvcrn commented on #73
although we currently bind space through code here https://github.com/dvcrn/proton/blob/master/src/cljs/proton/core.cljs#L180. If we unbind SPC, this might not trigger anymore so we need to add a new keybinding inside the proton keymap. Something like `proton:dummy` so we can catch the keyboard event again.

[2015-12-23 11:17] #50 closed

[2015-12-23 11:18] dvcrn commented on #65
Just realised that we are still missing `SPC w m` for closing all other panes (or 'maximising' the current one)

[2015-12-23 11:35] dvcrn commented on #70
@ticviking just to make sure, did manually copying the template solve this for you?

[2015-12-23 11:44] dvcrn opened #74 "Force-activate all layer packages"
Right now the user can deactivate packages which could mess up how proton works. Plus once a package is disabled, it no longer shows up inside the atom API and is invisible to proton.

One problem we have with this is, that when proton uninstalls a package, it adds it to `disabledPackages`. If the user enables the layer again, proton installs the package again but it is still disabled.

I think we

[2015-12-23 15:50] geksilla commented on #73
I prevent this issue in my `.proton`.

[code]

[2015-12-23 23:05] spencerlyon2 commented on #73
Brilliant, this works for me also.

Maybe we should just build this into proton directly (include in the default keymaps, not just in the default template)?

[2015-12-24 14:28] #73 closed

[2015-12-24 14:28] dvcrn commented on #73
Included it into proton core

[2015-12-24 14:37] dvcrn opened #76 "nuclide-quick-open aborts installation process"
Not sure how that happens but every time proton proceeds to install `nuclide-quick-open`, all packages after won't install. Need to restart the editor to continue package installations

[2015-12-24 14:45] spencerlyon2 commented on #76
Are you totally certain quick open even finishes installing?

When I install it via apm at the command line it takes a few minutes. Maybe you haven't waited long enough?

[2015-12-27 03:44] ticviking commented on #70
It does not seem to have.

It seems that somehow read only is being set for `c:\Users\$USER_NAME\.proton` when I launch atom.

I can't poke at it much until after new year, but I'm happy to try anything that might figure out if this is a problem with proton or atom, or my system.

[2015-12-28 22:23] #74 closed

[2015-12-28 22:25] #20 closed

[2015-12-30 12:56] dvcrn commented on #65
One thing that I still have in my head is, how should we treat panes and windows? Should we treat them as normal atom panes or just 'display options' for buffers?
E.g. in atom, closing a pane destroys all items with it. In emacs (spacemacs), closing a pane destroys the pane but leaves the buffers open.

If we want the same behaviour, we need to move all tabs / buffers to the active pane when closi

[2015-12-31 18:23] spencerlyon2 commented on #65
I think closing buffers with a pane is fine.

It is likely that spacemacs keeps a buffer alive, because that is the emacs default. Here the atom default is to close them, so I don't see any harm in doing that.

I think we can close this, but we need to keep in mind the outstanding issues in #72 (a single `[0-9]` entry in keybinding list rather than 10, and labels on each pane so users know what nu

[2015-12-31 18:23] #65 closed

[2015-12-31 18:24] spencerlyon2 opened #81 "Number panes"
It would be great to number panes so users know which one they are jumping to. Refs #65 #72

[This comment](https://github.com/dvcrn/proton/pull/72#issuecomment-166742096) has potential suggestions for where to put the numbers

[2015-12-31 18:26] spencerlyon2 opened #82 "Single entry for pane movement in which-key"
Right now we have 10 entries (for 0 to 9) for pane movement. We should squash this into a single entry `[0-9]`.

I think that this should be more doable now given the work in #80

Refs #65 #72

[2016-01-05 03:14] dvcrn opened #85 "Mode compilation warnings"
I noticed these warnings during compile:

[code]

pinging @geksilla. That is something you worked on I think

[2016-01-05 05:36] dvcrn opened #86 "Proton enables packages that should be disabled"
Another oversight when I implemented this feature.

Besides themes getting applied, I noticed that proton also force-activates packages that layers want to be disabled. As a test, just disable "relativeLineNumbers" inside .proton. The layer deactivates it but proton core activates it again.

We need to find a solution in which we force-activate all packages that are needed but still allow layers t

[2016-01-05 05:44] spencerlyon2 commented on #86
Ahh I just noticed this the other day and was going to open an issue once I investigated more to find the issue.

Any thoughts on how to resolve?

[2016-01-05 05:48] dvcrn commented on #86
1. We could blatantly enable everything before layer-init, but that would result that some of the needed packages are not there yet because the packages list could change after init.

2. Layers could keep track if a package is disabled / enabled and remove it from `get-packages`

3. We tweak enable/disable to save the package state and filter all `disabled-packages` (by proton) with all packages t

[2016-01-06 02:21] #85 closed

[2016-01-06 03:46] dvcrn commented on #23
I'm closing this here. We seem to have a great default experience now :)

[2016-01-06 03:46] #23 closed

[2016-01-06 03:50] dvcrn commented on #81
How about this?
On space, we currently dim the editor panel and catch all user inputs anyway. What we could do is add some more logic and just show a big number (like in tmux) with the pane index.

![demo](http://cloud101.eu/images/uploads/2012/04/Screenshot-10-04-12-122034.png)

Not sure about the implementation details yet though and if it could conflict with non-editor panes (https://github.com

[2016-01-06 03:52] dvcrn opened #91 "Make status-panel scrollable with max-height"
On first installation and small screens, I had it a few times that the "installing xxx" messages out-scrolled the screen.

Needs some css tweaking

[2016-01-06 07:28] dvcrn commented on #81
Here's a short test I did with some css positioning.
![screen shot 2016-01-06 at 4 25 20 pm](https://cloud.githubusercontent.com/assets/688326/12137263/50a7726c-b492-11e5-854b-af3128893e92.png)

I post the css / html code down here in case someone wants to tackle it. It makes sure the number is always inside the center of the panel, on top of everything else.

[code]

[2016-01-06 11:38] geksilla commented on #86
I like 4.

[2016-01-06 17:45] geksilla commented on #86
@dvcrn, I made [experimental branch](https://github.com/geksilla/proton/tree/fix/enabled-packages-should-be-disabled) feel free to check it out.

[2016-01-07 03:39] #40 closed

[2016-01-07 03:51] dvcrn commented on #86
@geksilla very nice. I'll see if I can use this!

[2016-01-07 05:21] spencerlyon2 commented on #81
I like this, but I think that I would like it even more if the numbers were a bit more subtle. Right now the current UI is pretty "slick" and the very large numbers don't have that same feeling to me.

[2016-01-07 07:09] dvcrn commented on #81
It was just a mockup :) Feel free to slap a different font, color and size on how you like it most

[2016-01-08 03:41] dvcrn commented on #86
Your change seem to have mostly fixed this. I am closing this issue.

[2016-01-08 03:41] #86 closed

[2016-01-09 06:38] dvcrn commented on #91
Auto-scroll to bottom still missing

[2016-01-09 07:18] #91 closed

[2016-01-14 22:56] dvcrn opened #101 "Integrate new nuclide"
http://nuclide.io/blog/2016/01/13/Nuclide-v0.111.0-The-Unified-Package/

[2016-01-15 02:17] dvcrn commented on #101
So instead of installing multiple nuclide packages on change we need to deactivate / activate from the nuclide core. Though integrating nuclide by default could be veeeery slow during installation. Maybe lazy load it until the user actually sets a nuclide option?

[2016-01-15 03:06] #82 closed

[2016-01-15 03:14] dvcrn commented on #76
Closing in favor of https://github.com/dvcrn/proton/issues/101

[2016-01-15 03:14] #76 closed

[2016-01-15 17:55] geksilla opened #103 "Provide ability to set scopeSelector and source options for configs"
Currently we cannot set `scopeSelector` and `source` options via `proton.lib.atom.set-config!` see [Config::set](https://atom.io/docs/api/v1.3.3/Config#instance-set) for details.

[2016-01-19 03:27] dvcrn commented on #103
How about change the API for configs from
`[key value]` to `[key value opts]`.
[code]

could turn into
[code]

But what do we do with proton configs that can't get assigned to a scope?

For the cljs code I think this is straight forward. We overload
[code]

To include a third parameter. I'll see if I can scribble something up.

[2016-01-19 10:11] geksilla commented on #103
I also went with this approach, but since we convert configs to hashmap [here](https://github.com/dvcrn/proton/blob/master/src/cljs/proton/core.cljs#L82) we will lost third element `{:scope ["foo"]}` from vector.

[2016-01-20 04:20] dvcrn opened #112 "Auto-generate READMEs"
This idea got sparked by a conversation on slack. It would be ideal if we could just generate READMEs for each layer.

With the changes we made inside the [doc-helper](https://github.com/dvcrn/proton/tree/feature/doc_helper) branch, we can already generate a list of options and keybindings

So to summarize:

- Keybindings: We can generate
- Options: We can generate as well
- Package list: Should b

[2016-01-26 05:48] dvcrn opened #121 "Micro lagg on first save"
One of the plugins we integrate is probably hooking on the save event. Right now, the first save on a new file takes around 1-2s. Saves after the first one are back to instant.

[2016-01-29 20:53] Lknechtli opened #125 "data folder in project is ignored by default"
I have a django project with a module named "data".  Not the best name for a module, but it shouldn't be ignored by default when searching project folders

[2016-01-29 21:58] Lknechtli commented on #125
I'm dumb.  Had it ignored by git globally.

[2016-01-29 21:58] #125 closed

[2016-02-08 15:14] Lknechtli opened #133 "Top folder in open file dialogue is obscured by underline"
![image](https://cloud.githubusercontent.com/assets/4392704/12889384/a734e000-ce4c-11e5-8626-d4223f49a8d9.png)

OS: Ubuntu 15.10

[2016-02-10 02:42] DanTheColoradan commented on #1
I wanted to say thanks for leading the charge! I'm afraid I've found `SPC` + mnemonics near impossible to live without :open_mouth: dang you Spacemacs!

On topic, [quotes from Carl Sagan](https://www.goodreads.com/work/quotes/3237312-cosmos) might provide relevant food for inspiration.

[2016-02-10 06:25] jessejanderson commented on #1
I like the simplicity of _spaceatom_.

[2016-02-10 16:00] DanTheColoradan commented on #67
I do have to say though that I have found many of the new keybindings more intuitive or perhaps better organized.

[2016-02-11 01:20] DanTheColoradan opened #137 "Command search with keybindings listed"
Perhaps when the user presses `SPC + ?` it pulls up the command palette (default `CTRL + SHIFT + P`) search bar. The other part would be to list the proton keybindings in the command palette instead of the atom provided keybindings.

[2016-02-11 01:38] DanTheColoradan commented on #49
Any new thoughts here? From the screen captures, terminal-plus definitely looks the nicest.

[2016-02-11 02:05] DanTheColoradan commented on #137
A relevant thought would be for command-palette to use the "This repository" method github uses for search:

![screen shot 2016-02-10 at 7 02 58 pm](https://cloud.githubusercontent.com/assets/3826143/12967952/e9d19ad8-d028-11e5-90a8-732d69868591.png)

Instead of "This repository" perhaps it would have the mode listed (e.g. "Markdown")? Then, if you backspace further it would be a global command se

[2016-02-12 05:44] jessejanderson commented on #133
Had the same thing on OS X, switched to a different theme as it seemed to be an issue with the material theme.

[2016-02-12 05:48] dvcrn commented on #133
hmm odd. We are currently thinking of swapping material with [nucleus](https://atom.io/themes/nucleus-dark-ui) as it seems to be a lot more adaptable as a default theme.

Besides that, I think we could hard-tweak the theme with some shipped css files

[2016-02-12 05:50] #67 closed

[2016-02-12 05:58] jessejanderson commented on #133
:+1: I'm a fan of Nucleus as a UI since it adapts so well to any syntax theme you want to use.

[2016-02-12 06:22] dvcrn opened #140 "Initial package installation randomly aborts"
I'm not sure why or when this happens but I had it twice that when a lot of packages are due to be installed, it only installs a few of them, reports 'success' and on the next start installs the rest. Maybe we have a timeout somewhere?

[2016-02-13 21:32] jessejanderson opened #146 "Using `SPC h/j/k/l` limits mnemonic categories"
In Spacemacs these pane:focus keys are simply preceded with a `w` for a `window` category (`SPC w h` for 'focus left pane'.

There's an interesting problem right now with Proton in that you have to try and think ahead with categorizing so that you aren't having to change shortcuts all the time, messing with people who have learned them.

It would be great if categories could be planned out somewha

[2016-02-14 02:37] jessejanderson opened #148 "Can't use spaces in iex"
Currently, the `iex` package is impossible to use since you can't type spaces without pulling up the proton keymap menu.

[2016-02-14 03:27] dvcrn commented on #146
The decision to use h/j/k/l to move between panes was made deliberately. If I remember correctly, @geksilla removed it before but after a short discussion on the slack we decided to put it back in until the keys are needed.

for `l` for example, I am not sure if having a `lines` category makes sense. I couldn't think of much more than sort lines for that category. If I were to categorise it, I wou

[2016-02-14 03:33] dvcrn commented on #148
That brings up a interesting problem. I think we should allow layers to exclude certain pane selectors from the `SPC` chain. What do you think @geksilla?

[2016-02-14 04:28] jessejanderson commented on #146
Okay, should I also change these shortcuts (https://github.com/dvcrn/proton/pull/144) to be simply `SPC H` for move pane left, etc? (or maybe in addition to?)

For the line sorting PR - there are 4 variations on the sorting (sort, reverse, unique, shuffle). Think something like this?

`SPC s s` (`leader => selection => sort`)
`SPC s r` (`leader => selection => reverse`)
`SPC s h` (`leader => selec

[2016-02-14 05:29] DanTheColoradan commented on #112
Leaving a stray thought... This could also go the other way and auto-generate code based on the README. I'm guessing that it would be significantly harder to implement though.

`get-packages`, `get-keybindings`, etc., would then be unnecessary.

[2016-02-14 11:49] geksilla commented on #148
@dvcrn, agree need to provide some helpers to prevent such problems.

[2016-02-14 20:14] jessejanderson commented on #146
Agh, `SPC s` is already used for `search` category.

[2016-02-15 09:34] #148 closed

[2016-02-15 11:30] robbyoconnor commented on #1
I vote spaceatom!

[2016-02-15 13:57] geksilla commented on #1
__spaceatom__ :+1:

[2016-02-16 20:32] DanTheColoradan commented on #1
Spaceatom organization is available.

@dvcrn, could you start it up and perhaps a bounty source salt? I donate to neovim and spacemacs and it'd be great to give to this project.

Then a team would be great too. Seems like there are quite a few contributors here that are already heavily involved :)

[2016-02-17 05:42] dvcrn commented on #1
Gonna register the organization but I honestly don't think it will be necessary anytime soon. I don't see what benefits it could give us with a 1-repo project.
Contributors can also get managed on normal repositories without problems 😊

I'll look into bounty source salt!

[2016-02-17 05:47] DanTheColoradan commented on #1
Sounds good :D Visibility is the biggest thing to me. Plus, I'm using Spaceatom all the time now and I'm hoping more people will join and more stuff will spring up :beers:

[2016-02-17 12:43] dvcrn commented on #133
New theme is out in [latest release](https://github.com/dvcrn/proton/releases/tag/v0.8.0)

[2016-02-17 12:43] #133 closed

[2016-02-17 12:44] dvcrn commented on #140
This definitely happens on all new installations. For some tests it showed `21` new packages and after all were installed and atom restarted, it installed `11` more. Something is fishy here.

[2016-02-17 12:45] dvcrn commented on #146
Closing this until we really need more categories :)

[2016-02-17 12:45] #146 closed

[2016-02-17 12:47] dvcrn commented on #1
How about spaceajom :p It mixes in that we are rocking cljs under the hood

[2016-02-17 13:00] wwwdata commented on #1
just keep it simple and name it space-mode

[2016-02-18 01:36] jessejanderson opened #156 "Uncaught TypeError: Cannot read property '0' of null"
Not sure what's going on - now getting this error on every launch, gets stuck with the Proton modal up at "Initializing proton... Just a moment!"

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [proton-mode](https://github.com/dvcrn/proton-bin) package, v0.8.0

### Stack Trace

Uncaught TypeError: Cannot read property '0' of null

[code]

### Commands

[code]

### Config

[c

[2016-02-18 01:39] dvcrn commented on #156
Can you post your .proton config if possible?

[2016-02-18 01:58] ikhthiandor commented on #1
I vote for spaceajom :+1:

[2016-02-18 02:03] DanTheColoradan commented on #1
space-a-jom (jom pronounced like bomb)?

[2016-02-18 02:06] DanTheColoradan commented on #1
Btw, spacebohr?

[2016-02-18 03:25] robbyoconnor commented on #1
+1 for spaceajom
On 02/17/2016 09:06 PM, Daniel L. Polanco wrote:

[2016-02-18 03:26] jessejanderson commented on #1
-1 for spaceajom

[2016-02-18 04:32] jessejanderson commented on #156
Found my issue, I'd added `:/ {:action "fuzzy-grep:toggle"}` to my .proton keybindings.

Is there a trick to mapping `SPC /` in my .proton?

[2016-02-18 07:32] dvcrn commented on #156
Ok so the problem here is that `:/` is not a valid keyword. What we did inside proton core is, we used `(keyword "/")` to generate the keyword but that's closure and not edn. I'll try to think about something to make this work

[2016-02-18 19:39] Lknechtli opened #159 "Contributor guidelines"
Proton should have some :)

Possibly utilize PR and issue templates - for instance a checklist of steps to take before submitting an issue, and what information to include in an issue
For example:

- [ ] Have you tried running proton with a minimal .proton file, and if so, what are the minimal settings required to reproduce the issue?

On a similar train of thought, I highly recommend using someth

[2016-02-20 04:03] #156 closed

[2016-02-21 22:59] DanTheColoradan commented on #1
Gonna advocate for Spacebohr since I've had some time to mull it over.

Rolls off the tongue easier than Spaceatom, IMO.
Easier to read since "ea" looks like it should have a dash, as in space-atom.
It's almost a homophone for spacebar.
Flying pigs in space? C'mon.
Bohr is for [Neils Bohr](https://en.wikipedia.org/wiki/Niels_Bohr), "who made foundational contributions to understanding atomic struc

[2016-02-22 01:21] DanTheColoradan opened #162 "Proposal: change [b]+buffer to [tab]+tabs"
Thoughts?

Atom doesn't have buffers in the traditional vim sense ~~and [b] for build makes sense in terms of the "build layer"~~.

This probably goes against #67, which makes sense to me since atom is different than both vim and emacs.

[2016-02-22 01:25] DanTheColoradan commented on #162
[tab] -> +tabs
-----------------------
[tab] -> previous tab
[n] -> next tab
[p] -> previous tab
[c] -> create new tab
.... others?

[2016-02-22 11:08] dvcrn commented on #162
Hmm I'm against this. I don't consider the `tab` key a key that is part of the normal keyset and see it more similar to mod / special keys. I think it's a bit odd if most keybindings follow a character mnemonic and a essential key is suddenly on a special key that needs the weakest finger to activate.

Another thing is that proton is more or less a vim emulation system that expands on the idea of

[2016-02-22 11:14] geksilla commented on #162
Agree with @dvcrn. `tab` key is just modifier. I don't think that is mnemonic `tab` key as UI tab would be correct. For sure atom not vim or emacs and buffer may confuse some people since atom's editor layout based on panes and tabs. But I'm gonna to stay with `b` prefix. For build prefix I feel more comfortable `c` as `compile` and associated with mode key bindings.

[2016-02-22 11:22] dvcrn opened #164 "Investigate unit testing"
On both, cljs and integrations with atom

[2016-02-22 14:07] Lknechtli commented on #162
another option for build would be to put it under the project category, since it's generally a project-wide action

[2016-02-22 14:35] spencerlyon2 commented on #38
Ping, I'm still missing this. Has anyone put any thought into how this might work.

What if we just have a "raw-config" variable people can set in their `.proton` that we copy/paste directly into `~/.atom/config.cson`. It would be totally un-checked and un-verified and would escape the rest of the proton system, but it would give users access to set anything atom can handle.

[2016-02-22 15:45] geksilla commented on #38
@spencerlyon2 for now you can disable wiping configuration and put configs manually via Settings View :unamused: I will try to take care about this issue when will have some time.

[2016-02-22 17:20] DanTheColoradan commented on #162
Thanks all :) @Lknechtli I'll consider that option next.

[2016-02-22 17:20] #162 closed

[2016-02-22 17:59] geksilla commented on #162
:+1: for project category like `SPC p c` mnemonic to [__p__]roject [__c__]ompile

[2016-02-22 19:03] DanTheColoradan commented on #49
@geksilla if you have terminal-plus ready, could you create a pull request? Otherwise, let me know and I'll give it a shot.

[2016-02-22 21:51] dvcrn commented on #162
One other idea I have for the future is allowing to remind entire categories inside .proton. That way everyone can have their favorite mnemonic, but until then we will still need some time :)

[2016-02-23 15:33] Lknechtli opened #166 "TODOs for only current branch"
No idea how much effort this would take.

When working on a large projects with many TODO's scattered through the comments, it would be useful to be able to filter to the TODO comments that were added on the current branch (or in files modified on the current branch).  Generally I only care TODO's that I added while working on a bugfix/feature, and not those in files that I haven't even touched.

[2016-02-24 00:11] dvcrn commented on #38
I think that raw-config thing can be a good short time solution. I'm just worried that people will end up using it for everything 😅

[2016-02-24 00:33] dvcrn commented on #166
Filtering only the files that are changed is pretty straight forward with a little bit of shell magic, finding TODOs as well but yeah, I don't think this should be part of proton core. This should go into a separate plugin that deals with this or just fork the current TODO plugin. Proton could then integrate that.

[2016-02-24 00:33] #166 closed

[2016-02-24 00:35] #4 closed

[2016-02-24 00:45] #159 closed

[2016-02-24 00:48] dvcrn commented on #159
Messed the auto-close hook up. PR is available here https://github.com/dvcrn/proton/pull/167

[2016-02-24 02:37] dvcrn opened #168 "atomatigit captures command chain input"
Steps to reproduce:
1. Open atomatigit with `SPC g s`
2. Try to run any command that has a atomatigit binding like `SPC b`

Result:
atomatigit reacts and proton doesn't open the buffer menu

[2016-03-02 10:02] geksilla commented on #38
Fixed in #169

[2016-03-02 10:02] #38 closed

[2016-03-02 10:03] geksilla commented on #103
Fixed in #169

[2016-03-02 10:03] #103 closed

[2016-03-03 09:21] mli-max opened #172 "Discussion about merging SPC f e and SPC _"
Guys, why we need <kbd>SPC _</kbd> bindings?
I use Spacemacs and I reload packages with <kbd>SPC f e R</kbd>

Now we have:
<kbd> SPC f e d </kbd> | open proton dotfile
<kbd> SPC f e s </kbd> | open atom stylesheet
<kbd> SPC f e i </kbd> | open atom init script
<kbd> SPC f e p </kbd> | open atom snippets

<kbd> SPC _ d </kbd> | Find proton dotfile
<kbd> SPC _ R </kbd> | Reload atom
<kbd> SPC _ c </

[2016-03-03 09:55] mli-max opened #173 "Crashed atom with undefined length with my layers config"
This is compiled version from master. Same error with atom.io version
[Enter steps to reproduce below:]

I've just added couple of layers and restart atom.

My layers is
[code]

**Atom Version**: 1.5.4
**System**: Mac OS X 10.10.2
**Thrown From**: [proton-mode](https://github.com/dvcrn/proton-bin) package, v0.8.0

### Stack Trace

Uncaught TypeError: Cannot read property 'length' of undefined

[co

[2016-03-03 10:02] mli-max commented on #173
Oh, I've added linter  and it works. Need check for main `linter` package in dependences

[2016-03-03 10:04] geksilla commented on #172
:+1: for this from my side.
Initially I've proposed PR with `SPC f e` category for consistency with _spacemacs_. But we decided to move _atom_ specific keybindings to `SPC _` category as _meta_.
More info #8

[2016-03-03 10:08] geksilla commented on #173
@mli-max, thanks for report!
So you've added `:tools/linter` to `.proton` and error not throws?

[2016-03-03 10:21] mli-max commented on #172
@geksilla so it will no be implemented and I need to change keys locally in my config? But why we need
<kbd>SPC f e d</kbd> and <kbd>SPC _ d</kbd> duplication?

[2016-03-03 10:26] mli-max commented on #173
@geksilla oh, no. It were installed but I have error again. Check please

### Stack Trace

Uncaught TypeError: Cannot read property 'length' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-03-03 10:28] mli-max commented on #173
Also, link to create an issue from atom leads to `https://github.com/dvcrn/proton-bin/issues/new`. is it atom url based on package?

[2016-03-03 10:30] geksilla commented on #172
As I mentioned I'm ok too merge them. Lets wait for response from other folks.

[2016-03-03 10:32] geksilla commented on #172
Also feel free to join [slack group](http://clojurians.net/) channel #proton.

[2016-03-03 10:34] geksilla commented on #173
@mli-max no needs to create issue in proton-bin repo. All issues and PRs are handled here.

[2016-03-03 10:38] geksilla commented on #173
@mli-max, could you please check config value for "proton.core.selectedLayers"?

You can do this using devtools.
execute following snippet:
[code]
Thanks.

[2016-03-03 10:45] mli-max commented on #173
["core", "tools/git", "tools/linter", "tools/bookmarks", "lang/clojure", "lang/markdown", "lang/html", "lang/javascript", "lang/css", "lang/ruby"]

[2016-03-03 10:50] mli-max commented on #173
@geksilla this is in `lang/html`, I deleted one by one package and it has gone after `html`

[2016-03-03 11:04] geksilla commented on #173
@mli-max, thanks for investigation.
Same problem and layer configuration was reported by @austincrft on slack. This is strange a bit since I also use `:lang/html` layer and don't get this error. I will take a look guys.

If you use `master` branch version, may be this workaround will work for you:
Change [this method](https://github.com/dvcrn/proton/blob/master/src/cljs/proton/lib/proton.cljs#L57)

[2016-03-03 11:34] geksilla commented on #173
I've found the issue.

`additionalGrammars` config was removed from `autoclose-html` package.

[2016-03-03 11:45] mli-max commented on #173
I checked my previous config without `linter`, removed `html` and it works. So linter dependences are not installed. Good for me.

[2016-03-03 16:01] mli-max commented on #140
I had issue with `autocomplete ruby`. I put it to disabled, proton said "deinstalling" but after restart again "installing"

[2016-03-04 01:08] dvcrn commented on #172
The `f` category is one thing I don't like about spacemacs. The main reason why this duplication was introduced was to make life for spacemacs users easier that give proton a try.
Proton and atom related (=meta) commands have nothing to do with every day editor use and should not go into file so `_`, a key far away from what the user would usually use seems like perfect place. There is no chance t

[2016-03-04 07:10] mli-max commented on #172
@dvcrn "Why would for example 'reload the editor' be in file?"

Because, I have changed my .proton file and I need to apply it. So, .proton is a file, I look a file section and "oh man!" it is there. I think, we should set options `"meta_key": true` for those who wants :smile:

[2016-03-04 07:35] mli-max commented on #121
Yes, I have same thing

[2016-03-04 10:12] geksilla commented on #173
fixed by #174

[2016-03-04 11:58] mli-max commented on #173
@geksilla I have checked, it seems it is not fixed. I used last version from master then compile and install

[2016-03-04 13:47] mli-max commented on #121
Sometimes I can't save with <kbd>SPC f s</kbd>, it openes file opener with <kbd>SPC f f</kbd>

[2016-03-08 16:48] DanTheColoradan commented on #172
I tilt the direction of using `SPC _` for reloading the editor and using `SPC f` for either purely file related functions (e.g. `SPC f =` for beautifying a file) or for some other purpose.

`f` is a pretty valuable key given its position on the keyboard and I hardly use it once I have my dot file and packages setup the way I like them.

[2016-03-08 16:54] DanTheColoradan commented on #172
For example, it could be `[f] -> +focus`. Then `SPC f j` could be focus on pane below. Right now, those:

![screen shot 2016-03-08 at 9 53 26 am](https://cloud.githubusercontent.com/assets/3826143/13608849/ba1d97ce-e513-11e5-9cd7-2f3cdcd44c08.png)

keys are eating up a lot of `SPC` home view so they are on my mind :sweat_smile:

[2016-03-08 21:09] mli-max commented on #172
@DanTheColoradan In that case I agree

[2016-03-08 23:23] dvcrn commented on #172
The 'move pane' keys will get moved into `w`. I just didn't come around to do that yet.

Focus pane is available through VIM bindings (<kbd>ctrl w</kbd><kbd>h/j/k/l</kbd>) or proton bindings (<kbd>spc h/j/k/l</kbd>), so what you described with <kbd>f j</kbd> is already possible through <kbd>spc j</kbd>.  Navigation is one of the most important functionality. I'm standing strong behind leaving it b

[2016-03-13 00:36] richarddewit commented on #1
How about Quantum?

[2016-03-13 00:37] richarddewit commented on #1
How about Quantom?

[2016-03-25 14:17] richarddewit commented on #137
I guess this should mirror Spacemacs more by using `SPC :` which lists all available commands as that's what's the command pallete also does.

[2016-03-25 14:28] richarddewit commented on #1
Or what about `Vacuum`? Vacuum is the empty `SPC` between `Atom`s :grin:

[2016-03-25 14:36] richarddewit commented on #121
@maksim-litvinov - Ive encountered that also. It seems what happens is that the first letter is registered twice, so you press <kbd>SPC f</kbd> and it immediately opens the file opener, as if <kbd>SPC f f</kbd> is pressed. Same goes for anything with functions with 2 of the same keys consecutively, like <kbd>SPC b b</kbd>

[2016-03-27 23:19] svatem1 opened #180 "word wrapping dependent on window size"
It's definitely problem on Atom's side, BUT - in Spacemacs, when you open 2 windows (SPC-w-/ e.g.), buffers inside these windows do not try to wrap themselves inside visible area, they're wrapped at some fixed length instead (meaning - if you change the size of the windows, there are no "dancing" lines).
This behavior cannot be mimicked via Atom's settings, because as long as wrapping is toggled o

[2016-03-28 10:33] geksilla commented on #180
@svatem1 there is an option to disable word wrapping

Add to your `.proton` to `:configuration`
[code]

Or find this option via _Settings_ -> _Editor Settings_ option called _Soft Wrap_

[2016-03-28 10:40] svatem1 commented on #180
@geksilla i know, i've mentioned it; but point is TO HAVE correct wrapping at certain column, not to have no wrapping at all..

current behavior always wraps to min(user's selected column, window's width) column..

just imagine 2 vertical windows both being wrapped at 80 chars, if you make one of them bigger, the contents of the other one gets rewrapped (even if your setting tells 80) and you have

[2016-03-28 23:37] DanTheColoradan opened #181 "nvAtom for tools/notes"
I've been using [nvatom](https://atom.io/packages/nvatom) for writing notes like crazy and it has been great. I feel like it would be a solid package to include with proton. Thoughts?

I believe it would be a great addition because it doesn't require you learn anything new. As you type, it searches your notes to find anything similar. If you hit enter, it creates a new note for you. So even though

[2016-03-29 00:43] #49 closed

[2016-03-29 00:57] dvcrn commented on #121
Did you use the reloading keybinding by chance? (<kbd>SPC _ r</kbd>) before this started to happen?

[2016-03-29 04:19] richarddewit commented on #121
@dvcrn -  Yes I did

[2016-03-29 07:07] richarddewit commented on #181
I guess things like this should be categorized in Applications (<kbd>SPC a</kbd>) so <kbd>SPC a n</kbd> would be notes. I like the idea :)

[2016-03-29 07:30] richarddewit commented on #172
**Reload Atom** should be in the `+quit` submenu, along with a **Quit** option, which we don't have yet.
My suggestions:

<kbd>SPC f e</kbd> | `+editor` (or `+editor config`)
<kbd>SPC f e d</kbd>  | Open proton **d**otfile
<kbd>SPC f e s</kbd>  | Open Atom **s**tylesheet
<kbd>SPC f e i</kbd>  | Open Atom **i**nit script
<kbd>SPC f e p</kbd>  | Open Atom sni**p**pets
<kbd>SPC f e R</kbd>  | **R**el

[2016-03-29 07:32] dvcrn commented on #121
Hrrm. I think we are not cleaning the entire state correctly when reloading proton

[2016-03-29 07:43] richarddewit commented on #22
Somewhat inline with this is the way configuration is pretty verbose. Right now I'm setting `editor` settings this way:

[code]

It would be nice if we could group stuff (I have no experience with Clojure so no idea of the syntax is even remotely correct :P) like this:

[code]

[2016-03-29 08:02] dvcrn commented on #181
I would also put it under `a n`. Though we currently don't have anything in there. if it is purely in atom, does it makes sense to put it under `a` or should we keep that for only stuff that interfaces with external applications?

[2016-03-29 08:06] richarddewit commented on #181
I think it does. Who knows what other "external applications" are going to be added? Better to categorize beforehand than having to move them when something new gets added.

Yes

[2016-03-29 08:29] richarddewit opened #182 "`which-key` falling off-screen on narrow monitors"
My screens are in portrait mode so quite narrow (1200x1920, minus treeview is something like 980px). Could the `which-key` panel be scaled so all commands fit on screen? Maybe with a ratio or media queries?

![2016-03-29-102404_983x153_scrot](https://cloud.githubusercontent.com/assets/7933750/14102019/7d5b4a76-f598-11e5-8c13-aeb13f4bae68.png)

---

**Edit**
For now I'm using my stylesheet to fit s

[2016-03-29 08:47] richarddewit opened #183 "Sort keybindings"
I just noticed that the keys aren't sorted. IMO it should be something like:

1. Special keys (<kbd>.</kbd>, <kbd>SPC</kbd>, <kbd>TAB</kbd>, ...)
2. Numbers
3. Other keys (<kbd>!</kbd>, <kbd>_</kbd>, <kbd>'</kbd>, <kbd>:</kbd>, <kbd>;</kbd>, ...)
4. Letters
5. F keys (<kbd>F1</kbd>, <kbd>F2</kbd>, ...)

[code]

Uppercase -> lowercase
[code]

[2016-03-29 09:39] richarddewit opened #184 "Add slight delay to which-key popup"
When typing keys in rapid succession, the blinking of the which-key popup is quite weird. Could there be a (modifiable/toggle-able) delay before showing the which-key popup?

Currently in Spacemacs:
[code]

*__Note:__ I'd love to contribute with PRs, but unfortunately I lack every knowledge of Clojure..*

[2016-03-29 11:42] dvcrn commented on #184
proton is a fun project to get started :)

[2016-03-29 19:28] jonyamo commented on #1
I think something simple and succinct will go a long way; something that implies a relation to spacemacs but allows it to develop its own personality. I particularly like "spaceman". It flows, it's familiar, and it lends itself well to the outer-space theme; which could eventually lead the way to a colorscheme and/or logo (à la spacemacs).

[2016-03-30 04:55] richarddewit commented on #1
@jonyamo - spaceman is too general and has no relation to Atom. Spacemacs even has the word emacs in it.

[2016-03-30 13:52] jonyamo commented on #1
Perhaps, but then the argument that _spacemacs even has the word emacs in it_ leaves only one logical choice: spaceatom. Any other name would have an implicit relation to atom and therefore would be lost without further explanation. I do like spaceatom, though; plus that could open to community to a collective space editor family: spacemacs, spaceatom, spacevim, spacesublime, spaceintellij, etc.

[2016-04-06 12:29] richarddewit commented on #184
I seem to be learning at least some of the syntax from fiddling with the `.proton` config file, but Clojure wasn't on my list of "Languages I might be using at some time" :)

[2016-04-06 23:52] elais commented on #1
I like spacetron for spacemacs + electron. But spaceatom is good too.

[2016-04-13 16:55] gazsp opened #186 "How to add custom syntax highlighting theme?"
I've got my own syntax highlighting theme that I'd like to use with Atom / Proton.

How do I go about getting Proton to load it without deleting it as an 'orphaned package' each time Atom starts?

Also, a FAQ would be really good for Proton :-)

[2016-04-14 00:25] dvcrn commented on #186
How are you currently managing your own syntax styles? Did you pack them into a custom package?

Usually you can just add the name of that package into `additional-packages` to tell atom that it's legit and not orphaned. If a package has no connection from either the users .proton file or from other layers, it will get marked as 'to remove'.

[2016-04-16 04:04] xtian opened #188 "`fd` produces no output or action in insert mode"
I was hoping that <kbd>fd</kbd> would exit insert mode like in Spacemacs, but typing these two keys in succession seems to neither invoke an action nor produce any output.

This is on a fresh installation of Atom 1.7.1.

[2016-04-16 05:57] dvcrn commented on #188
I think atom has a very fast timeout. Proton comes with bindings for exiting insert mode (like in spacemacs) out of the box but it depends on the vim mode you use.
If you use vim-mode-plus (what proton does out of the box) you should be good. If you use normal vim mode you need to change the fd binding here: https://github.com/dvcrn/proton/blob/master/plugin/templates/proton.edn#L99-L103

I am usi

[2016-04-16 13:20] xtian commented on #188
I haven't changed any of the default configuration that Proton sets. It doesn't seem to matter how fast or slow I hit those keys.

I noticed that if I just hit <kbd>d</kbd> by itself it is input into the buffer immediately, but if I hit <kbd>f</kbd> there is a full second delay before anything happens.

Here's a screen capture of the behavior I'm describing:
https://dl.dropboxusercontent.com/u/550

[2016-04-16 20:21] richarddewit commented on #188
Possibly due to the upgrade to Atom 1.7. I've noticed `SPC TAB` not working in 1.7 as well..

[2016-04-16 20:27] richarddewit commented on #146
Since it's case sensitive, you could put this in <kbd>SPC S</kbd> (capital S) instead. More categories, yay! :)

[2016-04-17 06:32] #182 closed

[2016-04-17 06:33] dvcrn commented on #188
Ouch. A major version change could indeed be the issue. I'm gonna check. ping @geksilla as well

[2016-04-17 23:52] dvcrn commented on #188
I upgraded to 1.7. `SPC TAB` is broken but `f d` for terminating insert mode seems to work completely fine for me

[2016-04-18 18:50] xtian commented on #188
@dvcrn https://gist.github.com/xtian/427c9fc1fa8c79e79f168bfce52c0cad

[2016-04-18 19:47] xtian commented on #188
Ah yeah looks like it was fixed in 92f2367. Is there a way to update the .proton file when a new version is released?

[2016-04-18 19:47] #188 closed

[2016-04-19 13:38] dvcrn opened #194 "Hack font is rendered in italic"
Might be something in 1.7 but I noticed that all fonts are rendered with the italic style only. @spencerlyon2 confirmed this.

I inspected atom a little bit and it is not even loading the Regular style. When removing the italic version, it uses the Regular again.

[2016-04-20 00:18] #194 closed

[2016-04-21 08:04] dvcrn commented on #188
Sadly not currently. You can do a diff between the template and your ~/.proton file to see the difference but that's not automated yet.

[2016-04-24 23:56] dvcrn opened #199 "Stop keybindg propagation during a proton chain"
During a proton chain (the thing that's triggered when hitting  `SPC`), we should catch all keybindings (if possible?) instead of allowing them to propagate down.

This currently conflicts with a few keybindings, probably most notable `git status` and `git push`.

1. `SPC g s`
2. atomatigit panel opens
3. `SPC g P`
4. atomatigit executes `git push` instead of git-plus

What happens here is that we

[2016-04-27 01:16] robbyoconnor commented on #1
Hi,

I'd like to add you to my professional network on LinkedIn.

- Robert

Confirm that you know Robert: https://www.linkedin.com/e/v2?e=0-ini67ogw-vi&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=X3HCQdRU&invitationId=6130896974267895808

You received an invitation to connect. LinkedIn will use your email address to make suggestions to our members in features like People You May

[2016-04-27 01:17] dvcrn commented on #1
@robbyoconnor uhmmm?

[2016-04-27 01:53] robbyoconnor commented on #1
Yeah this happened bc LinkedIn screwed up bad

--Rob
Sent from my cell, please excuse any typos.
On Apr 26, 2016 9:17 PM, "David Mohl" <notifications@github.com> wrote:

[2016-05-23 23:37] mythmon opened #201 "Manage stylesheet from .proton"
As far as I can tell, there isn't a way to manage `styles.less` from `.proton`, unlike all the other configuration options for Atom. One of the main things I like about Proton is that all the configuration happens from a single file, which makes it dotfile friendly.

[2016-05-24 01:20] dvcrn commented on #201
yes it is currently not possible to manage stylesheets. One idea we had was to generate collect all css files and do something like:

[code]

PRs are as always welcome 😄

[2016-05-26 22:14] kibin opened #202 "How can someone control settings of packages?"
Is there any option to control settings in installed packages? Maybe it’s unrelated, but if I manually change settings in packages they get resetted every time I reload atom.

[2016-05-27 01:43] dvcrn commented on #202
Yes this should be documented better.

[2016-05-27 01:46] dvcrn commented on #202
yes this should be documented better.

Each setting for each package has a certain configuration string. You can find that after changing a setting and opening your atom config file.

You can then put these strings inside your `.proton` file to freeze it in that state. For example, this is what it says in my config file:
[code]

The equivalent lines in the `.proton` file look like this:
[code]

[2016-05-27 01:48] #202 closed

[2016-05-27 05:56] kibin commented on #202
Thanks!

[2016-05-28 15:11] TheGreenHabi opened #203 ""f" character in Insert mode is not printed immediately"
Hello!
Just installed Atom + Proton to check it out and immediately run into issue when I type `f` character and it shows up only after I press some other character. I have this issue only with small `f`.
Perhaps it's a bug in ```fd``` implementation?

`My OS: Windows 10 + latest updates, Atom Beta (May 28, 2016) and current Proton version from built-in Atom package manager`

[2016-05-28 15:34] TheGreenHabi commented on #203
Indeed it is. After I commented this line in `.proton` file
`;; {:selector "atom-text-editor.vim-mode-plus:not(.normal-mode)" :keymap [["f d" "vim-mode-plus:activate-normal-mode"]]}`
everything is fine

[2016-05-29 03:53] dvcrn commented on #203
Yep, proton follows spacemacs (with it's default settings) in where `fd` doubles as esc alternative for vim related bindings.

Because of how atom works, it needs to put a timeout on the first key. For it to get printed you need to either wait for the timeout to expire or hit any other key.

If you don't need it just remove the line from the `.proton` file like you did 😄

[2016-05-29 03:53] #203 closed

[2016-06-01 10:30] quarterto opened #204 "Package checking is case sensitive, but Atom package names are not"
I noticed this when adding [Hydrogen](https://atom.io/packages/hydrogen) as an additional package. I added `:hydrogen` to the list, restarted, and it installed. However, because its name in `package.json` is `Hydrogen`, Proton would attempt to reinstall it on every launch.

[2016-06-07 09:33] richarddewit commented on #201
Then the same thing should go for `snippets.cson` and `init.coffee`. But I would vote against it.

I just happen to have an Atom folder in my dotfiles repo containing `.proton` and I've simply added `styles.less`, `snippets.cson` and `init.coffee` to it. You already can edit them with <kbd>SPC f e s</kbd>, <kbd>SPC f e p</kbd> and <kbd>SPC f e i</kbd> respectively.  Let Atom handle those. In case

[2016-06-07 23:53] #199 closed

[2016-06-22 20:01] geksilla commented on #184
added in #205

[2016-06-22 20:01] #184 closed

[2016-06-22 21:21] benwbooth opened #207 "Uncaught TypeError: a.call is not a function"
[Enter steps to reproduce below:]

1. Install Atom 1.8.0
2. rm -rf ~/.atom
3. apm install proton-mode
4. open any file
5. hit space bar

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [proton-mode](https://github.com/dvcrn/proton-bin) package, v0.10.1

### Stack Trace

Uncaught TypeError: a.call is not a function

[code]

### Commands

[code]

### Config

[code]

### Install

[2016-06-22 21:27] benwbooth commented on #207
Also happens with proton mode built from git master

[2016-06-23 08:53] geksilla commented on #207
@benwbooth, did you customize `.proton` file or used default?

[2016-06-23 10:52] kibin opened #209 "Setting customFileTypes"
How can one set something like [this](https://github.com/atom/atom/issues/1718#issuecomment-179257487) with proton (what I want to achieve is forcing atom to always parse js files as jsx)?

[code]

I’ve tried this:
[code]
But had no luck.

[2016-06-23 11:12] geksilla commented on #209
@kibin remote `proton.` from config name. It should be like
[code]

[2016-06-23 11:17] kibin commented on #209
@geksilla ah, I’m so stupid, thanks. Anyway, this doesn’t work, neither is
[code]
Maybe it’s problem with atom itself.

[2016-06-23 11:24] #209 closed

[2016-06-23 11:29] geksilla commented on #209
@kibin, np. Also I think that you have to specify file extension *"jsx"* instead of grammar name *"JavaScript (JSX)"*. Take a look for this packages which helps you to switch grammar you need.
* [set-syntax](https://atom.io/packages/set-syntax)
* [file-types](https://atom.io/packages/file-types)

[2016-06-23 11:31] kibin commented on #209
Yeah, I’ve tried both jsx and grammar name, but with no luck. Thanks for the links, will look at them

[2016-06-23 16:36] benwbooth commented on #207
@geksilla I don't have a ~/.proton file.

[2016-06-27 02:46] dvcrn commented on #207
@benwbooth proton should automatically create one for you if you don't have one.

If you have time, could you try to build proton from source here and see if the latest version fixes your problems?

[2016-06-27 19:20] benwbooth commented on #207
@dvcm it did indeed create a .proton file for me. I did not make any changes to it.

I tried re-installing proton from git master, and I'm still getting the same error when pressing the space bar. It seems to go into insert mode, then the error message `Uncaught TypeError: a.call is not a function` pops up.

[2016-06-27 19:20] benwbooth commented on #207
I've also tried it on my home computer (also macOS)  with the same results.

[2016-06-29 00:51] jessejanderson commented on #69
`SPC Tab` doesn't seem to do anything at all as far as I can tell.

[2016-06-30 02:05] dvcrn commented on #69
Yeah `SPC Tab` needs to get completely re-implemented from scratch. The plugin I'm using for it right now just doesn't do the job. Might need to self-write something that just keeps track of the previous buffer / tab

[2016-07-03 08:36] vimuel commented on #207
Hi, having the exact same issue. Any ideas what I could try?

[2016-07-04 01:23] dvcrn commented on #207
@vimuel did you also try the latest develop branch?

I wasn't able to reproduce this problem yet, how about you @geksilla? Any luck?

[2016-07-04 08:48] geksilla commented on #207
Yes, I've reproduced this issue.
Remove `~/.proton`, wait until setup complete, hit `spc` and error appears in dev console. However after editor refresh issue is gone. Error thrown on [this line](https://github.com/dvcrn/proton/blob/master/src/cljs/proton/lib/helpers.cljs#L93). Seems like `options` is *undefined* or *null* in some case.

[2016-07-06 18:04] paultopia opened #212 "preview keybinding does not work on first use"
(whoops, this was an issue I meant to leave on the markdown layer, not on proton in general.  My apologies.  I don't see a way to delete this...)

[2016-07-07 02:17] dvcrn commented on #212
I tested with my local proton installation and wasn't able to reproduce this. All space-m / , keybindings in markdown mode seem to work without toggling anything beforehand for me.

Were you able to replicate this problem more than once?

[2016-07-07 03:27] paultopia commented on #212
Yeah, I can replicate it after creating a new markdown file.

Steps:

1. close open buffers
2. start and save a new file as something.md
3. SPC m ... watch nothing show up.  And third keystroke does nothing.

<img width="1280" alt="screenshot 2016-07-06 22 23 38" src="https://cloud.githubusercontent.com/assets/11756255/16641656/754ce73a-43c8-11e6-8f40-a003e526332d.png">

<img width="1280" alt="scr

[2016-07-12 10:07] dvcrn commented on #212
All right it looks like the mode is not getting activated correctly when creating a new file. Can you confirm that if you close the file and open it again, the menu under `m` appears correctly?

[2016-07-15 19:11] paultopia commented on #212
Indeed it does.  The issue appears solely on creating a new file.  (Sorry for the delayed reply!)

[2016-07-18 02:19] iuunhao opened #218 "How should I set the default font size?"
How should I set the default font size?

[2016-07-18 02:33] alex-ketch commented on #218
@iuunhao Add `["editor.fontSize" "13"]`, to the `:configuration` array in your `.proton` file—it should mention `;;appearance` nearby.
Changing 13 to whatever size you want.

[2016-07-18 04:50] iuunhao commented on #218
@alex-ketch Thank you, the problem has been solved.

[2016-07-18 04:50] #218 closed

[2016-07-18 14:57] t9md commented on #81
Someone work on this?
I want this feature as independent package and I'm willing to implement it.

@dvcrn Help me, when you achieve above screenshot with code(HTML/css) you put, where did you put that code?
I believe you appended div to each pane by `appendChild`, but what is parent node?

[2016-07-19 01:25] dvcrn commented on #81
@t9md that was fast! I'll try to integrate it into proton soon, thank you 👍

[2016-07-19 16:49] ikhthiandor opened #219 "Add integration with search tools like Spacemacs"
Spacemacs has nice integration with several search tools like ag(the sliver searcher), pt(the platinum searcher), grep, ack, swiper etc. under `SPC s` keybinding. It would be really nice to have similar functionality in Proton.

[2016-07-20 09:42] geksilla commented on #219
@ikhthiandor, you can try [atom-fuzzy-grep](https://github.com/geksilla/atom-fuzzy-grep) package.
It was inspired by helm-ag. Just add `atom-fuzzy-grep` to `:additional-packages` and desired keybinding to `:keybindings` ([example](https://github.com/geksilla/dotfiles/blob/master/proton#L67))

[2016-07-25 03:08] Quixoticelixer opened #220 "LaTeX formatting with Markdown"
The current default markdown preview plugin doesn't appear to support Latex Equations.

 e.g
$ 1 + 2 = {6 \over 2} $

[2016-08-03 08:46] geksilla commented on #181
Fixed in #221.

[2016-08-03 08:46] #181 closed

[2016-08-11 14:05] swt30 opened #223 "Julia mode with Juno"
I'm starting this issue to mention that development of Julia tooling in Atom seems to be converging on [Juno](http://junolab.org/). As well as the packages currently included in the julia layer, it also uses these two:

[code]

although I think uber-juno is just a meta-package that installs all the others. The keybindings also need updating, especially now that new features like debugging are arri

[2016-08-12 01:12] dvcrn commented on #223
Sounds good to me. Pinging @spencerlyon2 since julia was his baby

[2016-08-12 07:47] spencerlyon2 commented on #223
@dvcrn thanks for the ping.

@swt30 it would be great to have this updated!

[2016-08-12 07:48] spencerlyon2 commented on #223
One concern is that tool-bar is an optional part of juno. I personally don't use it. If we do decide to add it to the layer I think it should be optional.

Perhaps it can be set up in a way similar to the linters where there is a core linter layer and language specific layers only install their listing packages if the core linter layer is active.

[2016-08-12 10:53] swt30 commented on #223
Perhaps the tool bar has a toggle that we can include a key binding for.

It looks like uber-juno is not needed if the other packages are installed individually. In fact, installing it without the others will just result in a confusing situation where proton and uber-juno start uninstalling and installing the same packages,

[2016-08-12 10:57] spencerlyon2 commented on #223
I agree that uber-juno should not be included in the layer.

I don't think I was very clear earlier in my tool-bar comment. What I meant is that the tool-bar package should not be forcibly installed by the Julia layer. It would be better to have tool-bar in its own layer and only activate Julia-specific toolbar features if that layer is active.

[2016-08-12 11:00] swt30 commented on #223
That sounds reasonable, as it is not really a core part of Juno but just provides access to its features. I think the first thing to do is review the keybindings and add any missing features, while leaving the tool bar for now. Julia 0.5 is coming in a few weeks so it is probably worthwhile putting off any major changes until then, as it will bring debugging and probably other goodies once the dev

[2016-08-18 00:40] benwbooth commented on #207
I can no longer reproduce this bug in the latest version of Proton mode. It's working now!

[2016-08-18 02:50] dvcrn commented on #207
Interesting. I'm closing this then until the bug re-surfaces

[2016-08-18 02:50] #207 closed

[2016-08-19 08:48] vladra opened #224 "Question: Autocomplete keybindings"
I'm trying to remove ability to autocomplete on Enter. I've configured it via proton with `["autocomplete-plus.confirmCompletion" "tab"]` and when I go to UI configuration it seems only tab is selected, so config line is correct. But it still autocompletes also on Enter.

I was wondering if this Proton problem? How can I override this behaviour. I wanted to disable autocomplete default keybindings

[2016-08-20 08:42] lowski opened #225 "Terminal layer is broken"
On latest version of Atom `Terminal plus` is not working (terminal window opens blank with cursor blinking all the time). There are a lot of issues reported on the [Terminal plus GitHub issues page](https://github.com/jeremyramin/terminal-plus/issues/). People recommend to switch to [platformio-ide-terminal](https://atom.io/packages/platformio-ide-terminal) which is build based on `Terminal plus`

[2016-08-20 13:20] dvcrn commented on #225
Thanks for reporting!
I will check platformio-ide-terminal but please, if this is something you would like to see in proton fast, feel free to submit a PR. Swapping out the packages would be as easy as changing the required packages inside the layer and rebinding the shortcuts

[2016-08-20 13:51] lowski commented on #225
@dvcrn thanks for the response. I haven't looked how to develop layers with proton yet.

Sorry for OT but have you considered es6 instead of clojurescript?  I believe it will be easier to contribute for others. Clojurescript is still not very popular and installing lein and JVM is a little bit overkill to me.

The project is great but clojurescript can be a barrier for contributors.

[2016-08-20 13:53] lowski opened #226 "Splitting JavaScript layer into smaller peaces"
It's just idea but what do you think about React as separate framework layer?

That would make it more flexible.

[2016-08-21 02:54] dvcrn commented on #226
Yup, agree! This is something that should have been done already. There's even still this comment inside `lang/javscript/core.cljs`:

[code]

[2016-08-21 03:18] dvcrn commented on #224
Do you have the elixir layer enabled by chance? I debugged this a bit and it seems like this is a issue with the `atom-elixir` package. I created a issue for it [here](https://github.com/msaraiva/atom-elixir/issues/44)

[2016-08-21 03:27] dvcrn commented on #220
This is something that belongs to the markdown preview plugin repo and not proton. There are some open issues [here](https://github.com/atom/markdown-preview/search?q=latex&type=Issues&utf8=✓) but besides that, nothing much proton can do here.

[2016-08-21 03:27] #220 closed

[2016-08-21 03:28] #164 closed

[2016-08-21 03:29] #186 closed

[2016-08-21 03:31] dvcrn opened #228 "Add 'usage guide' documentation"
A lot of questions could have been answered if proton had a proper usage documentation. We should add one at some point

[2016-08-21 04:36] Quixoticelixer commented on #220
What about changing preview plugin to markdown-preveiw-plus instead?

[2016-08-21 04:39] dvcrn commented on #220
That could work. Similar to vim, we could add a `markdownProvider` setting to swap markdown-preview with markdown-preview-plus.

As always, pull requests are welcome :smile:

[2016-08-21 06:50] #225 closed

[2016-08-22 06:12] vladra commented on #224
Yep, I have elixir package. Not using it atm though. Thanks for the tip

[2016-08-22 15:30] swt30 commented on #223
Looks like atom-julia-client now includes debugging commands. I haven't quite been able to get the breakpoints to work yet though.

[2016-08-23 08:12] richarddewit commented on #219
I particularly miss `helm-swoop` (<kbd>SPC s s</kbd>). It would be a nice addition, if possible.

[2016-08-23 08:52] richarddewit opened #229 "Create keymap containing a chain of Vim-commands"
Is it possible to create a keybinding which executes a chain of Vim-commands?

In Spacemacs I quite often use <kbd>SPC c y</kbd> which does a yank, comment, paste (duplicates line(s) and comments one (or selected ones) out).

I thought I'd re-create it, like I did in my .vimrc (`<Leader>` is <kbd>SPC</kbd>):

    nmap <Leader>cy yy:TComment<Cr>p
    vmap <Leader>cy ygv:TComment<Cr>`>p

but I have

[2016-08-23 17:49] jessejanderson commented on #219
I just wish `atom-fuzzy-grep` _looked_ better.

The fuzzy finder in Spacemacs is really easy to scan, `atom-fuzzy-grep` not so much.

[2016-08-23 18:05] jessejanderson commented on #229
Ooh, that _would_ be handy.

[2016-08-24 01:25] dvcrn commented on #229
If you mean adding custom commands to the proton chain, that is actually already working. It's just nowhere documented so it's hard to know unless you worked on the project. This should definitely be part of the usage guide - https://github.com/dvcrn/proton/issues/228

Inside `.proton` is a key called `:keybindings`. You can add things to it in the normal layer-keybinding syntax. Example:

[code]

[2016-08-24 01:31] dvcrn commented on #229
I added a small example to the default `.proton` file to make it more clear. This definitely still needs a proper documentation

[2016-08-24 01:40] dvcrn commented on #219
@jessejanderson you could always fork it and make it prettier 😄

[2016-08-24 09:04] karlmoller opened #230 "LaTeX / PDF View Package"
Maybe I am missing something, but how do I configure the lang/latex layer to open a PDF in PDF View (pdf.js) (rather than the system PDF viewer)? I can set it in the latex package settings, but obviously that gets wiped when proton loads. I read some of the source code (as much Clojure as I understand...) to see if there is some exposed hook, but I don't see anything.

[2016-08-24 14:33] dvcrn commented on #228
I added instructions for setting up `.proton`. If there are other suggestions what to add into the manual, post it here.

[2016-08-25 07:57] geksilla commented on #219
@jessejanderson, feel free to create an issue in `atom-fuzzy-grep` repo. I will try to do my best to get it works better.

[2016-08-25 09:10] geksilla commented on #229
I think the question here is about how to assign multiple commands for one keybinding. Unfortunately there is no support in atom for this case. The only way to chain commands is to write code in your `init.coffee` file. For more details check [here](http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/#composed-commands)

[2016-08-26 07:36] karlmoller commented on #230
New manual explains how to get this working. Closing.

[2016-08-26 07:36] #230 closed

[2016-08-26 07:49] dvcrn commented on #230
Are you referring to the new manual.md file of proton? If yes how did it help you solve the problem?

[2016-08-26 07:58] karlmoller commented on #230
Yes, I was not sure how to translate  keyspace + attribute in JS to Proton/Clojure the "correct way", the new manual.md explicitly states how it works. I eventually stumbled upon set-config! and hacked it in somewhere,  guess I should have taken the extra 15min to read more of the codebase.

[2016-08-26 08:04] karlmoller opened #231 "additional-package seems to be reinstalled on startup"
I am adding a non-layer additional package (Hydrogen) as follows to .proton:

:additional-packages
  [
    :hydrogen
  ]

Every time I start up Atom, it states that it is installing 1 new package: hydrogen and it takes a while for Atom to start. Other additional-packages don't seem to cause the same behaviour.

[2016-08-26 08:12] dvcrn commented on #231
Do you know if hydrogen has other dependencies that it installs?

Open the shell and try `apm install hydrogen` to see if it fails or suceeds

[2016-08-26 08:16] karlmoller commented on #231
apm install hydrogen
Installing hydrogen to /Users/karl/.atom/packages ✓

Seems to install fine. Also it works fine after it starts up. I don't see any other atom package dependencies. It requires zeromq and jupyter on the system.
Link to hydrogen project: https://github.com/nteract/hydrogen

[2016-08-26 08:22] geksilla commented on #231
looks like this issue related to #204.

[2016-08-26 08:23] karlmoller commented on #231
Ah yes same problem, sorry for new issue!

[2016-08-26 08:24] geksilla commented on #231
can you try to add this package capitalized like `:Hydrogen`?

[2016-08-26 08:26] karlmoller commented on #231
That does seem to solve the problem.

[2016-08-26 08:29] dvcrn commented on #231
Then it is the case problem again. We currently do a normal atom comparison between user package <-> installed packages without thinking about the case. Need to always downcase this

[2016-08-26 08:30] geksilla commented on #231
@dvcrn, lets close this one and left #204 to track it?

[2016-08-26 08:31] dvcrn commented on #231
sounds good to me!

[2016-08-26 08:31] #231 closed

[2016-08-26 08:57] geksilla commented on #204
I've checked this issue and it's a bit confusing. Basically `apm` is not case sensitive but atom's `package api` is. For example `Parinfer` package:
[code]
From the proton side we need to avoid usage of atom's api and rewrite couple of methods. Or create an issue in the `atom` repo.

@quarterto as workaround you can add `:Hydrogen` to `.proton` it should works fine.

[2016-08-26 18:22] jessejanderson commented on #219
@geksilla 👍 and upon re-reading I realize my comment sounded a little harsher than intended (
("oops, I'm a jerk"). 😬

It's not that it looks bad, the design is fine - it's just that for me it's more difficult to visually parse what I'm seeing and find what I'm looking for.

Issue added: https://github.com/geksilla/atom-fuzzy-grep/issues/35

[2016-09-05 08:21] kibin opened #232 "Esc in insert mode"
On today’s startup of atom I started to experience annoying thing that whenever I type something and then press escape, it doesn’t switch me to normal mode, as it always been, but only cancels autocomplete that pops up almost every time. So now I need to think hard to notice whether I need to press escape once or twice and it blows my mind.
Any known workarounds of this?

[2016-09-06 01:51] alex-ketch commented on #232
@kibin After the 0.12 update I had to uninstall and re-install the `vim-mode-plus` package.
I'd give that a shot and see if it fixes anything.

Also make sure you follow the warning notification and update your `~/.proton` file to have
`["proton.core.inputProvider" :vim-mode-plus]` instead of `["proton.core.vim-provider" :vim-mode-plus]`

[2016-09-06 09:05] kibin commented on #232
Uninstalling `vim-mode-plus` helped, thanks!

[2016-09-06 09:05] #232 closed

[2016-09-07 21:45] Newres opened #234 "Installation woes"
One issue that I ran into a few times when I aimed to try out Proton is how heavy and sluggish the install feels.

It takes a really long time before Proton as a whole is installed,, and in the meanwhile Atom is completely unresponsive.  Even the list of what is being installed goes halfway outside the window midway during install..

I tried the install multiple times on two different machines, bo

[2016-09-08 07:25] dvcrn commented on #234
That is indeed a problem but also not easy to solve.

proton can only fully work when all packages have been installed and applied. Before that if we allow using the editor normal, you might experience some very weird behavior.

One idea would be to just deny all SPC commands until initialization is done and move the window into one of the corners without the modal block. Would that help with this

[2016-09-08 09:22] geksilla commented on #234
I'm agree that installation process takes a lot of time. Probably we can make installation in background, do not block user on editing and prioritize package/layer installation.
A lot of layers defines keybindings under appropriate package so they will appear in *proton-modal* only after package become installed.
I can take a look how we can optimize this case, but I don't promise to resolve this

[2016-09-08 19:29] Newres commented on #234
I think perhaps a possible solution would be if instead of current checklist  of installed packages I could see a terminal, with a more verbose output. I had a couple of installs when atom hanged, or felt like it hanged, but could not tell for sure either way. And if something goes wrong during install it would help to pinpoint the issue.

[2016-09-09 08:46] richarddewit commented on #229
Ok I've written a custom script in `init.coffee`:

[code]

And assigned it to `SPC c y`:
[code]

But when I execute the key sequence, nothing happens.
When I run the command form the command palette (`SPC :`), then it works. What's wrong here? Init script loaded after proton?

[2016-09-09 16:46] geksilla commented on #229
@richarddewit you need to specify `:target "atom-text-editor"` for your action, because added command will be dispatched on `atom-text-editor` selector.
[code]

[2016-09-09 18:40] richarddewit commented on #229
Thanks, will try this Monday

[2016-09-12 08:10] richarddewit commented on #229
It works, thanks! Recap:

Write custom script in `init.coffee`:

[code]

And assign it to `SPC c y`:

[code]

[2016-09-12 08:10] #229 closed

[2016-09-21 09:43] swt30 commented on #223
Julia 0.5 is out! I have been taking a look at the current keybindings and the new features in Juno and thinking about how best to arrange the functionality under `SPC m`. Some initial ideas are in [this gist](https://gist.github.com/swt30/55a5a604e0a8ed0c1bea4a04456c675a). I haven't been able to get debugging working yet but I will be taking a closer look at this when I have time.

[2016-09-26 12:19] dvcrn commented on #204
fixed in latest master

[2016-09-26 12:19] #204 closed

[2016-09-26 12:23] #121 closed

[2016-09-26 12:25] dvcrn commented on #140
Seems to no longer be relevant. I'm going ahead with closing this.

[2016-09-26 12:25] #140 closed

[2016-10-03 02:14] abhi18av opened #239 "Add support for Hydrogen/Jupyter notebooks!"
Hi @dvcrn :)

Being a spacemacs user, I can tell how useful this thing is! Terrific work!

To make it more useful for the scientific community for interactive exploration if there's a layer for [Jupyter](http://jupyter.org/) related stuff!

There's already a great package for Atom [Hydrogen](https://github.com/nteract/hydrogen) so if possible please add this as an enhancement. By the way, I'd love

[2016-10-03 02:29] dvcrn commented on #239
Hi, thanks a lot!

I agree, getting started is still one of the things we have to work on. There are a few documents you could use:

- If you want to add hydrogen to your own setup but are unsure how to do this with `.proton`, check [this](https://github.com/dvcrn/proton/blob/master/MANUAL.md)
- If you would like to contribute a layer, check [this](https://github.com/dvcrn/proton/blob/master/HOW-T

[2016-10-03 03:49] abhi18av commented on #239
Okay, I'm looking forward to help, in anyway I can :)

Just wanted to bring the Jupyter layer to your notice so I'll close this issue

[2016-10-03 04:35] dvcrn commented on #239
Ah no need to close this! I'll re-open it for the backlog.

[2016-10-03 11:57] abhi18av commented on #239
Oh, okay! All the best for this work, but do decide the name quickly :)

[2016-10-12 23:14] virginc commented on #234
I would be happy if I could install it from a terminal window.

[2016-10-13 01:31] dvcrn commented on #234
@virginc you can run `apm install proton-mode` to install proton, but this will not take care of the dependency installation triggered through proton

[2016-10-24 19:59] andyrewlee opened #241 "Setting Ruby Path"
Started getting this error today

`exec error: Error: Command failed: ~/.gem/ruby/2.3.0/bin/rsense start --port 47367 --path `

I was wondering if there was a way to change the gem filepath to something else. Mine is located somewhere else. Thanks for the help.

[2016-10-26 02:14] dvcrn commented on #241
Take a look at https://github.com/dvcrn/proton/tree/master/src/cljs/proton/layers/lang/ruby#configuration and give the option `ruby-linter.rubyExecutablePath` a try.

Besides that, this isn't proton specific and seems to come from the rsense plugin. If the method above didn't work, I'd suggest checking the config options there to find out how to configure it!

[2016-10-27 18:23] bobbywlindsey opened #242 "SPC creates Uncaught TypeError"
# Steps to Reproduce

1. fresh install of Atom for MacOS
2. immediately installed proton
3. once installed, I opened a JavaScript file, pressed the spacebar to get menu options and was greeted with an uncaught type error (this happens with other filetypes as well)

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.12.1
**Thrown From**: [proton-mode](https://github.com/d

[2016-10-27 19:04] bobbywlindsey commented on #242
I uninstalled the proton package then reinstalled it. Looks like that fixed the space bar issue.

[2016-10-27 19:04] #242 closed

[2016-10-29 05:48] andyrewlee commented on #241
thank you for the help!

[2016-10-29 05:48] #241 closed

[2016-10-29 09:00] dvcrn commented on #241
How did you end up fixing the problem?

[2016-10-31 10:24] andyrewlee commented on #241
i didn't yet...hahaha i'll get around to it later. i'm so new to atom i don't even know what it means to check out atom-ruby-test and give `ruby-linter.rubyExecutablePath` is

[2016-10-31 17:26] psamim opened #244 "Change SPC SPC binding"
Hi,

In the most recent version of Spacemacs, SPC SPC does not do the jump any more. I also think it is much more practical, I suggest binding SPC SPC to what CTRL-SHIFT-P does.

Thanks,
Samim

[2016-11-03 02:07] iuunhao opened #245 "How at the same time, I like to set the font and font size?"
How at the same time, I like to set the font and font size?

[2016-11-03 02:10] dvcrn commented on #245
Put
[code]
into your `~/.proton` configuration

[2016-11-03 02:10] #245 closed

[2016-11-08 05:32] richarddewit commented on #219
Another package to consider for `helm-swoop`: [t9md/atom-narrow](https://github.com/t9md/atom-narrow)

It's still in Alpha, but it looks really promising. It even has `vim-mode-plus` integration.

Commands:
* `narrow:lines`: Lines of current buffer.
* `narrow:fold`: Fold start rows.
* `narrow:search`: `ag` (the_silver_searcher) search. need install by your self.
* `narrow:search-current-project`:

[2016-11-17 14:27] #224 closed

[2016-11-24 07:24] pvamshi opened #247 "Custom fonts using"

[2016-12-07 21:25] cweagans opened #248 "Remove environment package"
Noticed this got installed when I was trying Proton. The note on https://atom.io/packages/environment says it's no longer necessary.

[2016-12-16 20:12] WilsonChiang commented on #241
@dvcrn I tried setting the ruby-linter path but still having an issue with rfsense where it tries to use the wrong ruby version.

[2016-12-30 08:27] AnthonyJacob opened #249 "Replace vim with kakoun."
I have recently stumbled upon [kakoun] (http://kakoune.org/why-kakoune/why-kakoune.html#_why_kakoune). It looks like it go really well with spacemacs (proton) as a replacement for current vim mode plus.

Is that possible?

[2016-12-30 10:04] dvcrn commented on #249
Proton is leveraging other plugins for keybindings and doesn't implement them by itself. If you find a cool atom plugin implementing the kakoune style of editing, it should definitely be possible to integrate it!

[2017-01-11 00:30] autoferrit opened #250 "How to translate configs from other packages"
I would like to know how I can translate configs from other plugins, to use inside of `.proton`. Here are some examples

[code]

theres also others which dont state what the config value is, only showing the traditional settings page. Such as on

https://github.com/Peekmo/atom-autocomplete-php

[2017-01-11 08:38] jackcasey commented on #250
I just do it by hand; ie in this case:
[code]
In the latter case try changing the option to some non-default value and then look in your atom `config.cson`. It should be in there until you restart atom and proton nukes it. So you can get it from there and change it by hand and insert it into `.proton`.

[2017-01-11 08:43] richarddewit opened #251 "Space menu not appearing/workingin Atom 1.13.0"
Probably due to deprecations.

* DeprecationWarning: sys is deprecated. Use util instead.
* The environment package is deprecated. Use process.env directly instead. https://github.com/atom/atom/pull/12562

Not sure if those are relevant.

 I really miss my space menu :<

[2017-01-11 08:47] jackcasey commented on #251
Just a note that might help debugging: Running `proton:toggle` in the command palette also does nothing.
The proton initialisation splash screen looks fine and I can't see anything much in the javascript console.

[2017-01-11 09:20] dvcrn commented on #250
A automatic translation would be great, but doesn't exist yet. The easiest way is to adjust your package through the UI, open the atom config and copy the keys you modified. The defaults can stay defaults so you don't have to put them into your `.proton`.

If you really want the defaults as well, check the repository of the package you are converting

[2017-01-11 09:22] dvcrn commented on #251
I noticed that as well in the Beta and secretly hoped we would have more time before the release hits.

I'll try to take a look what could be causing this!

cc @geksilla as well

[2017-01-11 10:27] smldis commented on #251
Hello, I just decided to install proton at work but this issue is hitting me.
Fortunately in my Archlinux machine, repos are still using 1.12.9.
Some testing:
proton:toggle command is working in the setting page and in the tree window if focused. Not working in editor in normal mode.
I would like to help but I am totally new. Thank you!

[2017-01-11 10:32] geksilla commented on #251
When I was testing proton with atom beta 1.13 the issue was that vim-plus keybindings dispatched first, so probably there are some changes introduced to key map system. I will try to take a look today.

[2017-01-11 11:03] richarddewit commented on #251
I'm using regular vim-mode:

[code]

[2017-01-11 13:00] geksilla commented on #251
Want to ask to test changes from #252. Let me know how is going.

[2017-01-11 13:23] richarddewit commented on #251
Btw, for some reason the space menu does work in a settings tab..
And sorry, I am in no position to test it right now (at work)

[2017-01-11 14:01] geksilla commented on #251
@richarddewit, it should works everywhere except text-editor.

[2017-01-12 10:06] smldis commented on #251
I confirm that current version (13.1) that has #252 is not fixing this issue in the text-editor. Thank you.

[2017-01-12 10:17] smldis commented on #251
Using vim-mode instead of vim-mode-plus circumvent the problem, which-key works in text-editor.

[2017-01-12 10:23] geksilla commented on #251
@smldis, @dvcrn I will check it asap.

[2017-01-12 10:40] geksilla commented on #251
Just updated atom to 1.13 and it works for me.
@smldis, do you use `proton-bin` package or manually compiled from this repo?
@dvcrn, I think you didn't recompile new version in `proton-bin` repo. I don't see changes for `lib/proton.js` in last 2 commits

[2017-01-12 12:31] richarddewit commented on #251
I can confirm that which-key now works, but as previously mentioned I'm using regular vim-mode, so I don't know if it works for vim-mode-plus

[2017-01-13 01:23] jackcasey commented on #251
0.13.2 seems to be working for me (with vim-mode-plus). Will report back if I notice anything not working today.

Thanks for the quick fix!

[2017-01-14 10:22] panjan commented on #1
spaceatom 👾 ⚛️

[2017-01-15 12:28] smldis opened #253 "Add macro support in vim-mode, vim-mode-plus"
There is no plan in vim-mode-plus to support macros: https://github.com/t9md/atom-vim-mode-plus/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20macro

Would it be nice to add the package atom-keyboard-macros-vim by default?

[2017-01-16 01:33] dvcrn commented on #251
Closing this for now

[2017-01-16 01:33] #251 closed

[2017-02-01 15:16] gabor opened #255 "dot-symbol in config-key"
i'm trying to convert the following code from `config.cson` to `.proton`:

[code]

i tried to simply do
[code]

but proton uses `.` to split the key it seems, so it becomes
[code]

any ideas what to do here? is there perhaps a way to escape the `.` ?

[2017-02-01 15:20] sglyon commented on #255
I have this in my `~/.proton`

[code]

which ends up like this in my `~/.atom/config.cson`

[code]

[2017-02-01 15:20] sglyon commented on #255
docs here: https://github.com/dvcrn/proton/blob/4e84a9c6b172928985b0f9b32aa15bd3e6a21c5c/MANUAL.md#syntax-specific-configuration

[2017-02-01 16:00] gabor commented on #255
thank you, it works well.
i have to specify it twice, like this:
(i want it to default to 4, and be 2 for javascript)
[code]
i was not sure if it will work, but it worked fine. maybe the manual could also have an example where it is used multiple times?

[2017-02-18 16:56] spbrien commented on #251
I am having this problem with Atom 1.14.3 and proton 0.13.2 as well as 0.14.1

[2017-02-19 08:58] dvcrn commented on #251
@spbrien that's odd. The current HEAD is what's released as well. If you have time, could you try one more time to remove the self-compiled version and use the apm one?

[2017-02-20 14:37] spbrien commented on #251
@dvcrn Uninstalled and reinstalled with apm and all seems well. Maybe the download was cached by apm previously? In any case, thanks for this update... working perfectly!

[2017-02-21 13:43] geksilla opened #256 "user's keybinding category doesn't overwrite predefined action"
Try to overwrite any action keybinding with category added to `.proton` `:keybindings`. As the result category displays correctly but dispatches action assigned to old keybinding.
For example add
[code]
Then try to invoke `SPC p b c` and *browse buffers* command will dispatch.

[2017-02-23 13:54] gabor opened #257 "golang layers, some packages keep getting reinstalled"
i enabled the `:tools/linter` and `:lang/go` layers, and it works fine, but it keeps installing the following 4 packages everytime when i start atom:
[code]

any ideas why they don't just stay installed?

[2017-02-23 16:59] geksilla commented on #257
@gabor, seems like these packages were unpublished in favor to [go-plus](https://atom.io/packages/go-plus) package. You can disable these packages for now.

@dvcrn, let me know if you want to include `go-plus` package to #213

[2017-02-27 01:37] dvcrn commented on #257
Great! I had no idea they unpublished them. I'll update my PR and see to get this merged this week

[2017-02-27 03:44] aikeru opened #258 "Uncaught TypeError: a.call is not a function"
1. Install fresh copy of atom.io
2. Install fresh copy of proton
3. Wait until install completes and before doing anything else, hit "space" on the open editor window
4. See exception :)

**Atom**: 1.14.3 x64
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [proton-mode](https://github.com/dvcrn/proton-bin) package 0.14.1

### Stack Trace

Uncaught TypeError: a.call is not a

[2017-02-27 03:46] aikeru commented on #258
Reopened atom.io immediately after this and noticed proton installing more stuff... (7 new packages)

[2017-02-27 03:47] aikeru commented on #258
Looks like things are working after that last bit... Hope this is helpful

[2017-03-07 14:04] jotadrilo opened #259 "Defining non-builtin keybindings has no effect"
It seems the `:keybindings` section works properly when I try to overwrite a built-in keybinding. However, when a combination not already defined by proton is used, it has no effect.

Example:

[code]

In this case, <kbd>SPC</kbd><kbd>s</kbd><kbd>s</kbd> has been properly overridden by `narrow scan` but <kbd>SPC</kbd><kbd>s</kbd><kbd>p</kbd> (which is not predefined by proton) does nothing.

This

[2017-03-08 02:04] jackcasey commented on #259
This might be related to the target of the action being missing. In .proton you cannot use `:target actions/get-active-pane` or any other functions. And leaving target blank means the action that is bound has no context of the 'current window' etc and many actions require this.

Try specifying `:target ".editor.is-focused"` (You can specify CSS selectors as targets in .proton).

[2017-03-08 02:26] jackcasey opened #260 "Splitting windows might not behave as some expect"
This is a discussion rather than a bug.

I find the default behaviour of splitting windows to be unexpected/inefficient. Currently splitting will open and focus an empty pane. This allows you to immediately open a new file from eg `SPC P F` so does make sense for some people. (behaviour #1)

In spacemacs (as far as I can see) the default is to open and focus a (live) copy of the current buffer. (b

[2017-03-08 09:58] jotadrilo commented on #259
@jackcasey you are right, that worked like a charm!

I also reviewed the proton manual and I saw an example in the [manual](https://github.com/dvcrn/proton/blob/master/MANUAL.md#custom-spc-keybinding) and it is said that the target can be specified.

I think the lack of knowledge about atom/proton is the main issue here so I guess this can be closed since it is not an actual issue.

Thanks a lot f

[2017-03-08 09:58] #259 closed

[2017-03-08 19:35] thuringia commented on #209
@geksilla Sorry for bringing this up again, but I cannot get proton to set multiple file types.
I have tried
[code]
and variants like duplicating the setting but I get at most one of them to work.
Could you please give me a hint, I'm rather unfamiliar with Clojure(script) literals so I feel like missing something very obvious.

[2017-03-08 21:24] geksilla commented on #209
@thuringia, no problem. To set multiple types atom expects that value will be an object with key source type and value list of grammars.
So you need to pass an object which is a hash map in clojurescript and its syntax very close to js object:
[code]
[code]

In your case config will be:

[code]

[2017-03-09 19:00] thuringia commented on #209
That was the only variant I did not try. Thanks for the tip

[2017-03-12 01:59] dvcrn commented on #259
working on that 😅

[2017-03-22 06:30] armed commented on #234
+1 for shell script with all apm installs in it.

[2017-03-22 10:25] geksilla commented on #234
We may use status bar instead of modal panel to display installation progress. I think that good approach will be using [busy-signal](https://atom.io/packages/busy-signal) package.
What do you think?

[2017-03-22 13:19] armed opened #264 "SPC menu appears after slight delay"
Hi,

I don't know whether this is intentional or not, but space menu appears after ~200-400ms delay when I press spacebar. Same delay on `shift-cmd-p`. With pure atom I didn't notice any delay. Is there any config for this?

[2017-03-22 14:57] dvcrn commented on #264
Hey, there is [here](https://github.com/dvcrn/proton/tree/master/src/cljs/proton/layers/core). `proton.core.whichKeyDelay` is set to 0.4s by default

Try changing that and let me know if it solved it for you

[2017-03-23 04:05] armed commented on #264
Yep solved. Thanks.

[2017-03-23 04:05] #264 closed

[2017-03-24 04:23] zer09 commented on #251
@dvcrn
Sorry for bumping this up. But I am also getting the deprecated environment packages, I tried to remove it but the proton-mode is reinstalling it after reopening the atom and also linter v2 asking to install dependencies, after installing the dependencies when re-opening the atom again, the proton-mode will remove it.

I am using atom 1.15 x64 and proton-mode 0.14.1

BTW I am new to atom, I

[2017-03-24 05:43] kidpollo opened #265 "Check for updates doesn't work (on Mac?)"
[This](https://github.com/atom/atom/issues/13804) same issue is happening to me on a fresh atom install on a new mac. I dont see the package mentioned in that thread in apm so I am a bit lost on how to help solve this on proton

[2017-03-24 05:43] kidpollo commented on #265
https://github.com/atom/atom/issues/13804

[2017-03-24 11:19] geksilla commented on #265
@kidpollo do you have seti-ui or seti-syntax in additional packages? If yes try to remove it and restart atom.
Check [comment](https://github.com/atom/apm/issues/620#issuecomment-279077388).

[2017-03-24 16:29] kidpollo commented on #265
I did check! I don't have it. This is a new install

[2017-03-25 11:15] apirobot opened #266 "flake8 does not work"
My flake8 does not work in proton. I spent countless time on it and still don't understand why. Please help.
![1](https://cloud.githubusercontent.com/assets/9641784/24321745/d6d85f18-115c-11e7-9f5c-7ff2bc30416d.png)
![2](https://cloud.githubusercontent.com/assets/9641784/24321747/dd30c1ac-115c-11e7-8d51-c8efb5947955.png)
![3](https://cloud.githubusercontent.com/assets/9641784/24321749/df0e143e-115

[2017-03-26 08:06] zer09 opened #267 "Freshly install atom and proton, linter v2 welcome notification is always showing up"
Actually I already posted this issue at the linter repo steelbrain/linter#1398

If  I disable all the package installed by proton and re-enable it again except the proton-mode it self, the welcome notification will stop showing up but if  I enable again the proton-mode the linter welcome notification will show again on every start-up.

Thanks

[2017-03-26 08:36] zer09 commented on #257
got same issue here

[2017-03-27 01:46] dvcrn commented on #251
@zer09 pushing fix for this hopefully today

[2017-03-27 09:53] dvcrn commented on #257
@zer09 please give 0.15 a try. It got rid of the re-install issue for me

[2017-03-27 10:14] dvcrn commented on #267
I just pushed 0.15 which includes the linter related merge requests. This should get rid of the problem. Can you confirm?

[2017-03-28 01:15] zer09 commented on #267
Thanks @dvcrn I can confirm it solves the problem.

[2017-03-28 01:17] #267 closed

[2017-03-28 01:18] zer09 commented on #257
@dvcrn thanks, the issue is resolve. It is not reinstalling anymore when re-opening the atom..

[2017-03-28 01:26] zer09 commented on #251
@dvcrn if I disable the environment package on proton config, does it will break something? I see that proton(v0.15) will install this package by default. Or I will just ignore the deprecated warning?

Thanks

[2017-03-30 09:33] dvcrn commented on #266
Thanks a lot for reporting back!

That's... odd. If you re-install file-icons, does it stop working again?

[2017-04-24 09:55] agustif commented on #260
I remember using this package in the past: https://atom.io/packages/pain-split

I also remember the console started giving me some -deprecation- notices when using it...

[2017-04-24 12:14] agustif commented on #234
Yup, I think busy-signal and a discrete load is the best approach, after all you don't need to block the ui until all the dependencies are installed and ready to load. The -normal- or default editor is enough

[2017-04-26 05:08] agustif opened #269 "environment package (on core layer) is deprecated. Please use process.env directly."
https://atom.io/packages/environment

It just bugs me with that a beautiful new Atom setup to have a 1 deprecation notice in my editor.

![screenshot 2017-04-26 00 08 19](https://cloud.githubusercontent.com/assets/6601142/25418857/7763ea86-2a14-11e7-90ab-62e1d27a3b78.png)

[2017-04-28 03:07] #269 closed

[2017-05-15 15:43] zer09 opened #271 "key delay"
I got this weird delay on the letter "f" key. when typing then the word has "f" letter, upon pressing it gives a long delay before it typed on.  I think delay is around 1.5 to 2 seconds.

thanks

[2017-05-15 16:31] geksilla commented on #271
@zer09 can you turn on Keybinding Resolver with `Ctrl+.` and check what command invokes when you type "f"?

[2017-05-15 16:58] zer09 commented on #271
when I type "f" first I got this
![f partial](https://cloud.githubusercontent.com/assets/780780/26068989/107b40bc-39d2-11e7-8080-68ff9cb94388.png)

then it will pause a moment, then the letter "f" comes up on the editor, then I got this
![f](https://cloud.githubusercontent.com/assets/780780/26069031/2f17a948-39d2-11e7-9496-a7c6c671dcec.png)

thanks.

[2017-05-15 18:05] geksilla commented on #271
I believe that this is caused by `f d` keymap which is defined in your *.proton*
[code]
Not sure is this a bug of vim-mode-plus or atom itself. It seems like partial binding resolves with some delay. If you don't use `f d` just remove mentioned keymap from `:keymaps` in your *.proton*

[2017-05-16 01:28] dvcrn commented on #271
Correct that's the `f d` keymap. It's a quicker and more ergonomic way to escape from insert mode (similar to the often used `jj`).

You can just continue typing and it will work normally. Just hitting `f` by itself with nothing else will produce what you see

[2017-05-16 02:23] zer09 commented on #271
@geksilla thanks, i just remap it on `. p` this is the keymap on my spacemacs.

@dvcrn is there an option to decrease the delay? it feels so long to me. I like to set it atleast 0.5 or lower. thanks.

[2017-05-23 11:21] kibin opened #272 "space 0 not focusing on tree view"
After update to atom 1.17 space 0 doesn’t do anything

[2017-05-25 17:58] Silvertale opened #273 "space does not work unless focused on ui"

[2017-05-25 19:31] #273 closed

[2017-05-26 09:52] dvcrn commented on #273
No longer relevant?

[2017-06-03 01:19] aislanmaia commented on #207
After update the .proton file and add some layers, when toggling the proton-mode the "Uncaught TypeError: a.call is not a function" happens.

[2017-06-13 19:20] jpinnix commented on #248
Still getting this deprecation warning: "The environment package is deprecated. Use process.env directly instead. atom/atom#12562"

[2017-06-16 09:06] dvcrn commented on #248
Apologies, must have forgotten to push a new release to apm. It's out now and the error should be gone :)

[2017-06-16 09:06] #248 closed

[2017-06-25 09:02] boogie666 commented on #22
Would it be ok to upgrade to clojure 1.9 and add clojure.spec.alpha? Basically this would make it really simple to spec out any style of config and validate it and parse it.

I can spec out the current config + spec out this new style.

[2017-08-03 00:41] pdilyard opened #276 "Jump to line with EasyMotion?"
I'm a heavy user of `[SPC] j l` in spacemacs, which highlights lines in a similar way to EasyMotion highlights letters. (e.g. `[SPC] j l c`) might jump you to a line three below your cursor.

Is there something similar included in Proton?

[2017-08-03 15:46] sfalcon opened #277 "Pressing spacebar after a fresh install throws an error"
1. Install fresh Atom
2. Install proton-mode package from inside Atom
3. Wait for setup to complete
4. Press spacebar for bang

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.11.6
**Thrown From**: [proton-mode](https://github.com/dvcrn/proton-bin) package 0.16.0

### Stack Trace

Uncaught TypeError: a.call is not a function

[code]

### Commands

[code]

### Non-Core Packages

[code

[2017-08-03 16:17] sfalcon commented on #277
I restarted the App and it started working, but it was weird :)

[2017-08-07 18:25] jamrizzi opened #278 "Tree view as window"
I wonder if we could have the tree view behave like a window. I'm used to typing `SPACE + w + h` to activate the tree view.

[2017-08-07 19:23] jamrizzi commented on #272
Use `SPACE + 1` instead

[2017-08-07 19:38] jamrizzi opened #279 "Buffer navigation"
I think there should be a buffer navigation for switching between tabs. Spacemacs has this functionality.

`SPACE + b + h` - Previous buffer (tab)
`SPACE + b + l` - Next buffer (tab)

Currently, Atom moves to the next buffer (tab) on `CTL + Page Up`.
Currently, Atom previous to the next buffer (tab) on `CTL + Page Down`.

[2017-08-07 20:11] jamrizzi commented on #279
Proposed fix with #280

[2017-08-07 21:38] jamrizzi commented on #1
spaceatom makes the most sense

[2017-08-07 21:42] jamrizzi opened #281 "Can't see default theme logs"
The logs for the default theme do not appear. It's just a big empty box.

![untitled](https://user-images.githubusercontent.com/6234038/29046979-62a2dee6-7b8f-11e7-82ba-e18c5a797020.jpg)

[2017-08-08 01:55] ravernkoh opened #282 "Is this project still active?"
I want to know if this project is still actively maintained. It looks great but I'm not sure if there are still updates going to it.

[2017-08-08 06:32] dvcrn commented on #282
The project is still very much alive, just the 2 core contributors (me and @geksilla) don't have much time lately to actively work on features. Proton is in a pretty stable state and a lot of people use it daily

[2017-08-08 07:43] ravernkoh commented on #282
Ok! Thank you for creating this.

[2017-08-08 07:43] #282 closed

[2017-08-08 10:00] dvcrn commented on #281
Hah, looks like a update to the theme or Atom broke it. Thanks for reporting

[2017-08-14 02:07] #279 closed

[2017-08-22 15:02] arguser commented on #281
Hello, I have recently installed proton-mode on my work laptop (Ubuntu 17.04, Atom 1.12.2) and my home desktop (Manjaro, KDE Plasma, Atom 1.19.2). This same issue is visible on my home PC  while in my work laptop is working as expected.

If you could point me to any extra information or log I could provide I'll be happy to help.

Regards

[2017-08-22 16:21] jamrizzi commented on #281
If this theme has bugs in it, maybe a different one should be used for the default theme.

[2017-08-23 08:43] smldis commented on #281
happens to me too. Any workaround?

[2017-08-23 15:36] jamrizzi commented on #281
The solution is to change the default theme to one that isn't buggy. I created a pull request for it.

https://github.com/dvcrn/proton/pull/283

[2017-08-24 02:17] dvcrn commented on #281
Hmm I wonder if we could just tweak the CSS instead of ripping out the theme. Let me review that PR

[2017-08-24 03:17] jamrizzi commented on #281
The bug is in the theme's code, not our code.

[2017-08-24 09:04] dvcrn commented on #281
Can someone please give https://github.com/dvcrn/proton/pull/284 a try? If everything is fine I'll release it

[2017-08-24 20:56] arguser commented on #281
@dvcrn tried #284 it generates a .proton file which sets the theme back to nucleus, thus it doesn't solve the issue.

[2017-08-25 06:35] dvcrn commented on #281
@arguser thanks for trying!

Are you sure about that? The change [here](https://github.com/dvcrn/proton/pull/284/files#diff-12385fab247f1bba1e65a324a2b706f2) changes the .proton template to use atom-material as the default theme

[2017-08-25 12:48] arguser commented on #281
@dvcrn Whoops, missed that one. Going to try it at home.

I didn't figure out which editor to stick to yet, found proton recently and seems to be what I'd like to use if I stick with Atom, so thank you!

Sadly I've seen you switched to another editor, still with neovim? (kinda offtopic)

[2017-08-25 20:11] geksilla commented on #281
btw if you like nucleus-theme you can try [flexible-ui](https://atom.io/themes/flexible-ui). It still well adaptive and I didn't found any issues with it for a long time.

[2017-08-26 19:19] arguser commented on #281
@dvcrn done testing, it works!

[2017-08-29 12:34] arguser opened #285 "Limited functionality on Windows"
As I couldn't get any logs or error message I'll describe what I've experienced, I welcome any guidance that would help me provide better feedback for this matter.

1. Installed Atom on Windows 10 (64 bits)
2. Installed Proton
3. Proton shows initializing modal

At 3, it lists the packages about to be installed but they get barely listed really fast, with OK status and at the end are not even inst

[2017-08-29 13:28] geksilla commented on #285
I'm not windows user but my guess that `apm` is not available from the PATH. Check if `atom` or `apm` are available from command line. Maybe [this link](https://discuss.atom.io/t/installing-apm-on-windows-am-i-missing-something/13089) will be helpful.

[2017-08-29 13:35] arguser commented on #285
Both commands are available through the command line. Forgot to mention that.

[2017-09-01 07:39] jackcasey opened #286 "SPC g causes atom-keymap to start failing"
On a pretty vanilla install of atom and proton-mode I am having trouble with the `SPC` menu. But only with `SPC g`. `SPC f s` etc are fine.

After using `SPC g` I get errors about atom-keymap/lib/partial-keyup-matcher.js.

![proton](https://user-images.githubusercontent.com/45890/29959778-91c6e5dc-8f2b-11e7-8f74-4c39d4425544.gif)

I'm eliminated everything I can thing of WRT extra packages or my o

[2017-09-01 08:17] jackcasey commented on #286
Update:
 This also happens when you push the `g` in `SPC t g`. Which is interesting... So it's not an issue with the git menu but something to do with the 'g' itself.

[2017-09-02 00:44] geksilla commented on #286
Observes same issue. Don't know why but it starts to throw errors when `vim-mode-plus` enabled. If you open Key Binding resolver and hit `SPC g` you'll see a lot of key bindings matched to `g` which waits for next key. Have no idea if this an issue of vim-mode-plus or atom itself.

[2017-09-04 17:11] geksilla commented on #286
@jackcasey I just tried to check different versions of `vim-mode-plus` and found that this issue happens since `0.99.0`. So as workaround try downgrade `vim-mode-plus` package to `0.98.0` version. You can do it with following commands:

[code]

[2017-09-05 01:19] jackcasey commented on #286
FYI a matching issue for `vmp`: https://github.com/t9md/atom-vim-mode-plus/issues/860

[2017-09-05 13:08] smldis commented on #181
@geksilla  please reopen since nvatom package is not existing anymore.

[2017-09-05 13:16] smldis commented on #20
Hi @dvcrn, 2 years later could this be reevaluated?

Or alternatively is it possible to disable proton package management?

[2017-09-06 02:55] t9md commented on #286
Could reproduce, and if I comment out following keymap, issue disappear.

`  'g ^': 'vim-mode-plus:move-to-first-character-of-screen-line'`

This is super similar with https://github.com/atom/atom-keymap/issues/195 which I fixed long time ago.

As my understanding this is not vmp issue.
And as my impression, this is not atom-keymap issue.

I don't know how proton handle keymap uniquely,  can you s

[2017-09-06 03:12] dvcrn commented on #20
@smldis What do you want to accomplish? Just the configuration system or the which-key overlay?

[2017-09-06 03:19] jackcasey opened #288 "Proton should clearly warn users about it's destructive behaviour on first install"
Proton takes over both package management and user preferences. This means on initial installation your whole atom configuration is changed with no recourse to revert.

Proton should have a very clear warning about this on first install, with an option to back out and instructions on how to backup your current configuration and/or run proton in a new atom home folder.

PS: I feel like this issues

[2017-09-06 03:26] dvcrn commented on #286
When hitting space in VIM normal mode, proton attaches the class `proton-mode` to the workspace and removes `vim-mode` and `vim-mode-plus`. When the class `.proton-mode` is set, all keystrokes will be captured ([here](https://github.com/dvcrn/proton/blob/master/src/cljs/proton/lib/proton.cljs#L69-L91))

Internally, when proton starts, a big tree of keybindings is generated. Like `{x: {x: "action"}

[2017-09-06 03:38] t9md commented on #288
My situation is

1. got report issue for vim-mode-plus+proton
2. Try to reproduce issue by installing proton(I have no idea that proton **replace** all config/pkgs I locally installed).
3. Investigation done now uninstall proton and noticed I've lost all pre-proton-installed configuration, pkgs. Now recovering manually.

Just installing proton pkg breaks locally installed config/pkgs is very surpr

[2017-09-06 04:01] t9md commented on #286
That include the fallback keymap which is used when proton's unique keymap did not match?

I'm imaging like this
- `space g s` is handled by proton, but `space g x` is matched by user's `keymap.cson` but it dispatched proton's auto-generated keymap initialized at proton starts.

Anyway I thinks position where error thrown is here.

https://github.com/atom/atom-keymap/blob/3b17ede7f10e5a9c5097b495a

[2017-09-06 04:41] jackcasey commented on #286
With t9md's help we boiled the repro steps down simply adding to a key mapping like:

[code]

This is enough to cause the same broken behaviour. Even when the `vim-mode-plus` package has been removed (and the `vmp` class manually added to the editor (`atom.workspace.getActiveTextEditor().element.classList.add("vim-mode-plus", "normal-mode")`)

Also if you substitute `f` for `g` then it's the `SPC

[2017-09-06 08:56] dvcrn commented on #286
The thing though is, proton is removing the `vim-mode-plus` class when you hit space, so this shouldn't even trigger anymore.

I added
[code]

to my keymap but don't run into these problems

Which packages do you have installed?

[2017-09-07 02:12] jackcasey commented on #286
Ok I just reproed this again :) (MacOS fyi...)
Here are the steps I took which should be explicit and reproducible:
[code]

* Manually add proton-mode package via Preferences/Install and let it finish installing
* Quit atom
* Run the following in the earlier terminal window (With `ATOM_HOME` set)

[code]

* restart atom (making sure to do so in the terminal with the explicit `ATOM_HOME`
* open a f

[2017-09-07 20:29] boogie666 commented on #286
hello,

@jackcasey  you're right it has nothing to do with vim-mode-plus. but it does look like it has something to do with the '^' in the binding.

open dev tools and do

`var g_keys = atom.keymaps.keyBindings.filter( x => x.keystrokes === "g ^");`

that will give you all the keybinding in atom that use the "g ^".

if you change the 'g' to an 'a', for example, then 'SPC a' is broken.

This is lik

[2017-09-08 00:49] jackcasey commented on #286
Thanks for the extra diagnosis and great workaround!

So it seems like the right fix would be to change that line in atom keymap from:
[code]
to:
[code]

I'll see if I have time today to figurue out a failing test for in atom-keymap and do a PR into there.

Cheers,
Jack

[2017-09-08 02:29] jackcasey commented on #286
FYI: https://github.com/atom/atom-keymap/pull/221/files

[2017-09-08 02:40] jackcasey commented on #286
Not sure it actually fixes the issue for us entirely, just getting set up to properly test dev atom-core packages...

[2017-09-08 02:56] t9md commented on #286
Although I haven't check  detail of PR.
I want to share my stance and understanding of this issue.

- This issue doesn't happen with vim-mode-plus + Atom combination
- This issue only appear with Atom + proton + vim-mode-plus
- vim-mode-plus do nothing special for keymap
  - It just added `g ^` default keymap in v0.99.0
  - Atom have no problem to handle this keymap(had problem in older version bu

[2017-09-08 03:13] jackcasey commented on #286
There are definitely still problems in atom-keymap around `^` being presumed to only be used as a keyup prefix.

But yes, it would be best to figure out the exact causes. I think it's around proton deciding if there is a partial match pending or not while it navigates through its own 'version' of sequence mappings (with the nested menus).

I'm having trouble running atom in dev mode with a custom

[2017-09-08 03:18] jackcasey commented on #286
OIC atom-keymap isn't an apm module. So need to do this kind of stuff:
https://discuss.atom.io/t/how-to-setup-development-for-core-modules-like-atom-keymap/9221/18

[2017-09-08 03:33] t9md commented on #286
I couldn't remember how I did it before.
If you want to use locally changed atom-core module.
You need to build atom-core locally.
Then npm link which purpose is your atom-build dir's node_module/atom-keymap is symlinked to your custom atom-keymap.
Launch atom with dev-mode, also specify `ATOM_RESOURCE_PATH`.

http://flight-manual.atom.io/behind-atom/sections/developing-node-modules/

[2017-09-08 06:48] jackcasey commented on #286
I can't get atom working in develop mode and using a custom version of atom-keymap at the moment :/ (compiled library node version mismatches!) and am not going to be able to look at this for a a week or so. I feel like my PR to atom-keymap would probably fix the issue, but I can't be sure without testing. Someone should feel free to take over from me next week if they like, on both this issue and

[2017-09-08 06:49] Ben3eeE commented on #286
@t9md The correct environment variable is `ATOM_DEV_RESOURCE_PATH` you forgot the `DEV` part :slightly_smiling_face:

@jackcasey The steps in the flight-manual for linking node modules does not always work, you may have to run `apm rebuild` inside your clone of the Atom folder instead of the `atom-keymap` folder.

[2017-09-08 07:26] jackcasey commented on #286
Thanks @Ben3eeE That did it! I think it must have been the only thing I didn't explicitly try. (I've been running `election-rebuild` and trying to completely rebuild and repackage atom etc...

So I've tested with that change to atom-keymap and it does fix this issue. I'm still not sure why proton-mode causes it to manifest. My theory, that is unsubstantiated, is that to do the 'proton menu' proton

[2017-09-08 10:27] Ben3eeE commented on #286
:+1: I'll check it out as soon as I have the chance to. I'm also wondering why it only manifests in proton-mode.

[2017-09-08 10:29] geksilla commented on #181
@smldis, see #289

[2017-09-08 16:35] smldis commented on #20
The which key overlay with spacemacs like keybindings is the main feature I use, but in general splitting the package management from the other functionality would be awesome.
Also installed package management and package configuration could be (in theory) be decoupled right?

The proton style of package management is affected by the ever standing problem of distributions, for reference: [https://

[2017-09-13 08:33] #226 closed

[2017-09-15 16:42] Ben3eeE commented on #286
Hey,

We have just merged https://github.com/atom/atom-keymap/pull/221 and the fix is currently scheduled to be released in Atom 1.22.

Thanks @jackcasey for opening the PR and everyone for the detailed information 💯

[2017-10-04 09:04] gemantzu commented on #286
Any info on when 1.22 will be available?

[2017-10-04 20:45] vehas opened #291 "Unmatched delimiter ] when I open atom."
[Enter steps to reproduce:]

1. open atom

**Atom**: 1.21.0 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.13
**Thrown From**: [proton-mode](https://github.com/dvcrn/proton-bin) package 0.16.0

### Stack Trace

Uncaught Error: Unmatched delimiter ]

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-10-16 15:21] nathanaelphilip opened #292 "Packages not Remaining Installed"
Some packages are not remaining installed after closing and re-opening Atom.

`emmet`
`fish-language`
`wordpress-api`
`language-fish-shell`

Is this supposed to happen?

[2017-10-16 15:48] nathanaelphilip commented on #292
it seems like they all go into the `disabledPackages` area of the `config.cson` file

[2017-10-20 01:05] dvcrn commented on #292
Are these manually added packages? Did you put them into your `.proton` file?

[2017-10-26 08:53] jackcasey commented on #272
This behaviour seems buggy. I came here to report it and foudnd this bug.

If you have 2 panes and a treeview I'd expect 1 and 2 to be the 2 panes and 0 to be treeview.
If you have 2 panes without a treeview, I'd still expect 1 and 2 to be the panes and 0 to be the treeview.
Instead 0 is pane 1 and 1 is pane 2 and 2 is the treeview. Which makes no sense to me and now I end up just grabbing the mou

[2017-10-26 18:23] jamrizzi commented on #272
I think `SPACE + w + j` should take you to the panel. It would be nice if proton treated all panels like windows.

[2017-11-16 15:03] kibin opened #293 "Document controlling package settings"
This should be in docs or at least in the unfinished manual. I keep forgetting how to do that and always go to [this issue](https://github.com/dvcrn/proton/issues/202) to relearn. Also for others and future self all the setting names can be found in the `config-schema.json` file, [for example](https://github.com/prettier/prettier-atom/blob/master/src/config-schema.json).

[2017-11-29 09:24] dvcrn commented on #293
Hey! Sorry for the late comment. I currently don't have enough free time to actively maintain this project. If you have suggestions for the manual please feel free to submit a PR with your ideas. I'd be more than happy to merge it :)

[2017-11-29 09:30] kibin commented on #293
Okay! I will try to do this on the weekend!

[2018-03-20 07:57] #272 closed

[2018-03-20 08:14] jackcasey commented on #286
This issue is fixed in atom-keymap. So I'll just close it :)

[2018-03-20 08:14] #286 closed

[2018-04-04 23:18] karmajunkie opened #295 "custom layer support?"
is it possible to add a custom layer without forking proton and adding it to the fork?

If not, what would this require in terms of implementation?

[2018-04-05 23:03] karmajunkie opened #296 "error when using atom-elixir-formatter"
When I add `atom-elixir-formatter` to the additional packages, which reformats elixir code upon save, I get the following error message:

### Elixir Formatter Error
[code]
I reported this in rgreenjr/atom-elixir-formatter#20, but after doing a little digging it looks like proton-mode may be involved. When I remove proton-mode the issue goes away; when I reinstall it, the issue returns.

I'm not su

[2018-11-03 15:52] MrMic opened #297 "GO lang support (with go-plus) is completly wrong !!!"
- Do NOT read the env variable: GOPATH !
- Change it in go-plus config, but it is rewriten each time!

Switch to VS Code !

[2018-12-19 04:12] jackcasey opened #299 "configuration from .proton doesn't get set on atom.cson anymore."
Not sure when this started, but I now notice that atom config (`atom.cson`) is not cleared not updated from settings specified in the `.proton` file.

[2018-12-26 09:48] dvcrn commented on #299
Thanks for reporting! I’m a little loaded these days and not sure when I can find some time to look into it

[2019-01-28 22:50] benjamin-rood commented on #242
I'm having this same problem, both on macOS and Linux (Pop!_OS 18.04 LTS). Both fresh installs, only package installed was Proton Mode via `apm install proton-mode`

Uninstalling the packing using the package manager inside Atom and re-installing it now means that the
menu by <kbd>SPC</kbd> works, but it now throws another instead.

@dvcrn David, should I open a new issue?

[2019-01-28 22:55] benjamin-rood opened #300 "SPC menu uncaught TypeError: 'nodeName'"
[Enter steps to reproduce:]

1. Press <kbd>SPC</kbd>

**Atom**: 1.34.0 x64
**Electron**: 2.0.16
**OS**: Pop!_OS 18.04
**Thrown From**: [proton-mode](https://github.com/dvcrn/proton-bin) package 0.16.0

### Stack Trace

Uncaught TypeError: Cannot read property 'nodeName' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-01-29 09:19] dvcrn commented on #300
Thanks for the report! I'll try to take a look at it but currently don't have much time I can put into this project. If you can, try compiling from source and adding debug output at the places mentioned in the stacktrace, that should shed some more light into what's wrong

[2019-04-21 19:16] itslijohnny opened #301 "issue with setting"
I use kite as my autocompletion tool. However, it requires to set the core.useTreeSitterParsers to false. I add the setting into the dot file and it correct. However, the kite package still reports that I didn't have a correct setting. I believe it related to the order of when it load the setting. Is there a way to solve it?  Thanks a lot!

[2019-04-22 01:54] dvcrn commented on #301
Hi! Did you add the configuration as written here? https://github.com/dvcrn/proton/blob/master/MANUAL.md#editor-configuration

If you open the atom configuration after setting this inside proton, is the key inside your config file?

[2019-04-22 02:24] itslijohnny commented on #301
![image](https://user-images.githubusercontent.com/5987932/56479504-890aad00-646a-11e9-8b49-1839f4f02dc9.png)
![image](https://user-images.githubusercontent.com/5987932/56479574-ef8fcb00-646a-11e9-9ca7-ec3c48ac1b04.png)
![image](https://user-images.githubusercontent.com/5987932/56479512-932cab80-646a-11e9-88a1-33c002d43a29.png)

Thanks for replying!
Yes. And When I check the setting it effects and